<script
  lang="ts"
  generics="Value = string | number"
>
  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import type { Option } from '$lib/ui/types';

  interface Props {
    label: string;
    items: Option<Value>[];
    value: Value | undefined;
    dataCy?: string | undefined;
    onChange: (value?: Value) => void;
  }

  let {
    label,
    items,
    value = $bindable(),
    dataCy = undefined,
    onChange
  }: Props = $props();

  function handleChange() {
    onChange(value);
  }
</script>

<div
  class="form-group row flex-grow-1 d-flex justify-content-end m-0 align-items-baseline"
>
  <Caption>{label}</Caption>

  <select
    class="form-control form-control-sm w-auto ml-1"
    data-cy={dataCy}
    onchange={handleChange}
    bind:value
  >
    {#each items as item (item.value)}
      <option value={item.value}>{item.label}</option>
    {/each}
  </select>
</div>

<style>
  select {
    font-size: 0.6em;
  }
</style>
