<script lang="ts">

  import { goto } from '$app/navigation';
  import { enhance } from '$app/forms';

  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import { URL_LOGIN } from '$lib/views/constants';

  import type { ActionResult } from '@sveltejs/kit';


  let errors: undefined | string | Record<string, string> = $state();
  let name = $state('');
  let email = $state('');
  let password = $state('');

  async function onSubmit() {
    errors = undefined;
    return ({
      result
    }: {
      result: ActionResult<Record<string, unknown>, { errors: string }>;
    }) => {
      if (result.type === 'success') {
        goto(URL_LOGIN);
        return;
      }

      if (result.type === 'failure' && result.data) {
        errors = result.data.errors;
        return;
      }
      errors = { Sorry: 'this is not possible' };
    };
  }
</script>

<svelte:head>
  <title>Register</title>
</svelte:head>

<div class="row justify-content-center">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Sign up</h1>

    {#if errors}
      <Errors {errors} />
    {/if}

    <form
      data-cy="form-register"
      method="POST"
      use:enhance={onSubmit}
    >
      <TextField
        name="name"
        placeholder="username"
        type="text"
        bind:value={name}
      />

      <TextField
        name="email"
        placeholder="email"
        type="email"
        bind:value={email}
      />

      <TextField
        name="password"
        placeholder="password"
        type="password"
        bind:value={password}
      />

      <button
        class="btn btn-lg btn-primary"
        type="submit">Sign up</button
      >
    </form>
  </div>
</div>
