<script lang="ts">
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  interface Props {
    login: string;
    email: string;
    password: string;
    errors: string | undefined;
  }

  let {
    login = $bindable(),
    email = $bindable(),
    password = $bindable(),
    errors
  }: Props = $props();
</script>

<svelte:head>
  <title>Register</title>
</svelte:head>

<div class="row justify-content-center">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Sign up</h1>

    {#if errors}
      <Errors {errors} />
    {/if}

    <TextField
      name="name"
      placeholder="username"
      type="text"
      bind:value={login}
    />

    <TextField
      name="email"
      placeholder="email"
      type="email"
      bind:value={email}
    />

    <TextField
      name="password"
      placeholder="password"
      type="password"
      bind:value={password}
    />

    <button
      class="btn btn-lg btn-primary"
      type="submit"
    >
      Sign up
    </button>
  </div>
</div>
