<script lang="ts">
  import debounce from 'lodash/debounce';
  import { _ } from 'svelte-i18n';

  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import { stopPropagation } from '$lib/ui/helpers';
  import type {
    Option as BaseOption,
    ComponentEventArgs,
    FnAutoComplete
  } from '$lib/ui/types';

  import type { ComponentProps } from 'svelte';

  type Option = BaseOption & { _label?: string };

  interface BaseProps extends ComponentProps<typeof TextField> {
    value: string;
    getOptionLabel?: (args: Option) => string;
    error: string | undefined;
    label: string | undefined;
    tabindex?: number;
  }

  interface PropsLoaded extends BaseProps {
    loadOptions: FnAutoComplete<unknown>;
  }

  interface PropsDefined extends BaseProps {
    items: Option[];
  }

  interface Events {
    onSelect: (args: Option) => void;
    onClick?: () => void;
  }

  interface Props {
    items?: Option[];
    value?: string;
    loadOptions?: FnAutoComplete<unknown> | undefined;
    getOptionLabel?: (args: Option) => string;
    class?: string | undefined;
    tabindex?: number | undefined;
  }

  let {
    items = [],
    value = $bindable(''),
    loadOptions = undefined,
    getOptionLabel = ({ label }) => label,
    class: classProps = '',
    tabindex = undefined,
    onSelect,
    onClick,
    ...rest
  }: Props & Events & (PropsLoaded | PropsDefined) = $props();

  const handleClick = $derived(stopPropagation(onClick));
  let open = $state(false);
  let options: Option[] = $state([]);
  let activeIndex = $state(-1);
  let isLoading = $state(false);

  function handleClose() {
    activeIndex = -1;
    open = false;
  }

  function handleSelect(index: number) {
    if (index > -1 && options[index]) {
      const item = options[index];
      options = [];
      onSelect(item);
    }
  }

  function onOpen() {
    open = true;
  }

  function regExpEscape(s: string) {
    return s.replace(/[-\\^$*+?.()|[\]{}]/g, '\\$&');
  }

  async function setOptions() {
    if (!value.length) {
      options = [];
      return;
    }

    let toDisplay: Option[] = [];
    isLoading = true;

    if (loadOptions) {
      toDisplay = (await loadOptions(value)) as Option[];
    } else {
      toDisplay = items.filter((item) =>
        getOptionLabel(item).toUpperCase().includes(value.toUpperCase())
      );
    }

    const regExp = new RegExp(regExpEscape(value.trim()), 'i');

    options = toDisplay.map((item: Option) => ({
      ...item,
      _label: getOptionLabel(item).replace(regExp, '<strong>$&</strong>')
    }));
    isLoading = false;
  }

  const updateList = debounce(setOptions, 250);

  function onKeyDown(e: ComponentEventArgs<typeof TextField, 'onKeydown'>) {
    if (!open) {
      onOpen();
    }
    switch (e.code) {
      case 'ArrowDown': // down
        if (!open) {
          onOpen();
        }
        if (activeIndex < options.length - 1) {
          activeIndex++;
        }
        break;
      case 'ArrowUp': // up
        if (!open) {
          onOpen();
        }
        if (activeIndex > 0) {
          activeIndex--;
        }
        break;
      case 'Enter': // enter
        if (activeIndex > -1) {
          handleSelect(activeIndex);
          handleClose();
        }
        break;
      case 'Escape': // escape
        handleClose();
        break;
      default:
        updateList();
    }
  }
</script>

<svelte:window onclick={handleClose} />

<div
  class={`autocomplete ${classProps}`}
  onblur={handleClose}
  onclick={handleClick}
  onkeydown={handleClick}
  role="button"
  {tabindex}
>
  <TextField
    {...rest}
    type="text"
    bind:value
    onFocus={onOpen}
    onKeydown={onKeyDown}
  >
    {#if open}
      {#if isLoading}
        <ul>
          <li>{$_('common.loading')}</li>
        </ul>
      {:else if options.length}
        <ul>
          {#each options as item, i (item.label)}
            <li class:active={i === activeIndex}>
              <div
                onclick={() => handleSelect(i)}
                onkeydown={() => handleSelect(i)}
                role="button"
                tabindex={i + 1}
              >
                <!-- eslint-disable-next-line svelte/no-at-html-tags -->
                {@html item._label || item.label}
              </div>
            </li>
          {/each}
        </ul>
      {/if}
    {/if}
  </TextField>
</div>

<style>
  .autocomplete {
    position: relative;
    width: 100%;
  }

  ul {
    color: #7a7a7a;
    list-style: none;
    text-align: left;
    cursor: pointer;
    background-color: white;
    padding: 0;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 100;
    top: 100%;
    min-width: 100%;
  }

  li {
    position: relative;
    color: #7a7a7a;
    list-style: none;
    text-align: left;
    padding: 0.15rem 0.5rem;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 0.9em;
  }

  li:hover,
  li.active {
    background-color: #ebebeb;
  }
</style>
