<script lang="ts">
  import { goto } from '$app/navigation';

  import SelectField from '$lib/ui/atoms/fields/select/SelectField.svelte';
  import SongLinks from '$lib/ui/molecules/song-links/SongLinks.svelte';
  import type { Option } from '$lib/ui/types';

  import type { Snippet } from 'svelte';

  interface Props {
    id?: number | undefined;
    position?: number | undefined | string;
    title?: string;
    subtitle?: string;
    href?: string | undefined;
    youtube?: string;
    file?: string;
    isA3?: boolean;
    mainAction?: Snippet;
    details?: Snippet;
    actions?: Snippet;
    // edit position parts
    positionOptions?: Option<number>[] | undefined;
    onPositionChange?: (args: { id: number; position?: number }) => void;
  }

  let {
    id = undefined,
    position = '-',
    title = '',
    subtitle = '',
    href = undefined,
    positionOptions = undefined,
    youtube = '',
    file = '',
    isA3 = false,
    mainAction,
    details,
    actions,
    onPositionChange
  }: Props = $props();

  function handlePositionChange(detail: string | number | undefined) {
    if (!id || !onPositionChange) {
      return;
    }
    const value = Number(detail);
    onPositionChange({
      id,
      position: isNaN(value) ? undefined : value
    });
  }

  const containerProps = $derived(
    href
      ? {
          role: 'link',
          onclick: () => goto(href)
        }
      : {}
  );
</script>

<div
  {...containerProps}
  class="list-group-item list-group-item-action py-1 px-1"
>
  <div class="d-flex flex-row align-items-center">
    {@render mainAction?.()}
    {#if positionOptions && onPositionChange}
      <div class="position text-muted mr-3">
        <SelectField
          class="mb-0"
          items={positionOptions}
          value={position}
          onChange={handlePositionChange}
        />
      </div>
    {:else if position}
      <span class="position text-muted mr-3">{position}</span>
    {/if}
    <div class="title text-primary text-truncate">
      <span>{title}</span>
      {#if subtitle}
        <span class="text-muted">{subtitle}</span>
      {/if}
    </div>

    {@render details?.()}

    <SongLinks
      {file}
      isA3={isA3 ? 1 : 0}
      {youtube}
    />
    {@render actions?.()}
  </div>
</div>

<style>
  .position {
    flex-shrink: 0;
    font-size: 1em;
    text-align: right;
  }

  .title {
    overflow: hidden;
    flex-grow: 1;
    min-width: 150px;
  }

  div[role='link'] {
    cursor: pointer;
  }
</style>
