<script lang="ts">
  import { onMount } from 'svelte';
  import { _ } from 'svelte-i18n';

  import { page as pageApp } from '$app/state';
  import { goto } from '$app/navigation';

  import List from '$lib/ui/atoms/list/List.svelte';
  import Loading from '$lib/ui/atoms/loading/Loading.svelte';
  import SectionSongItem from '$lib/ui/molecules/section-song-item/SectionSongItem.svelte';
  import Songs from '$lib/ui/pages/songs/Songs.svelte';
  import post from '$lib/utils/post';
  import {
    URL_INDEX,
    URL_INDEX_QUERY,
    API_URL_INDEX
  } from '$lib/views/song/constants';
  import Headers from '$lib/views/utils/headers/Headers.svelte';
  import type { SongSort, Paginate, Song } from '$lib/types';
  import type { Option } from '$lib/ui/types';

  import type { PageData } from './$types';


  interface Item extends Record<string, unknown> {
    section?: string;
    items?: Song[];
  }
  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let filters: {
    categories?: Option[];
    levels?: Option[];
  } = {};

  const limit = 50;
  let search = $state(data.search);
  let sort: SongSort = $state(data.sort);
  let page = 0;
  let loading = $state(false);
  let total = $state(0);
  let items: Item[] = $state([]);
  let allItems: Item[] = $state([]);

  type LoadSongsArgs = Partial<{
    search: string;
    sort: SongSort;
    page: number;
    limit: number;
    withFiles: boolean;
    beta?: boolean;
  }> & { byIndex: boolean };

  type LoadSongsReturn = Paginate<Item>;

  function displayMore() {
    loading = true;
    items = items.concat(allItems.splice(0, 5));
    loading = false;
  }

  function onLoadMore(reset?: boolean | CustomEvent<never>) {
    loading = true;

    if (reset === true) {
      page = 0;
      items = [];
      total = 0;
    }

    post<LoadSongsReturn, LoadSongsArgs>(API_URL_INDEX, {
      page,
      sort,
      limit,
      search,
      withFiles: true,
      beta: true,
      byIndex: true,
      ...filters
    }).then(({ items: newItems, ...rest }) => {
      ({ page, total } = rest);
      items = newItems.splice(0, 5);
      allItems = newItems;
      page += 1;
      loading = false;
    });
  }

  function onSearch(detail: { sort: SongSort; search: string }) {
    ({ search, sort, ...filters } = detail);
    goto(search ? URL_INDEX_QUERY.replace('#QUERY#', search) : URL_INDEX, {
      keepFocus: true
    });
    onLoadMore(true);
  }

  function onAddSong() {
    goto('/song/0');
  }

  onMount(() => {
    onLoadMore(true);
  });

  let logged = $derived(!!pageApp.data.session?.id);
  let categories = $derived([
    { label: $_('song.category.placeholder'), value: undefined },
    ...data.categories
  ] satisfies Option[]);
  let levels = $derived([
    { label: $_('song.level.placeholder') },
    ...data.levels
  ]);
</script>

<Headers
  description={$_('headers.songs')}
  path={URL_INDEX}
  title={$_('song.header')}
/>

<Songs
  {...data}
  admin={logged}
  filters={{
    categories,
    levels
  }}
  {search}
  {sort}
  {total}
  {onSearch}
  onAdd={onAddSong}
>
  <Loading
    hasMore={allItems.length > 0}
    isLoading={loading}
    threshold={500}
    onLoadMore={displayMore}
  >
    <List {items}>
      {#snippet children({ item })}
        <SectionSongItem {...item} />
      {/snippet}
    </List>
  </Loading>
</Songs>
