<script
  lang="ts"
  generics="SortValue = string"
>
  import debounce from 'lodash/debounce';
  import { slide } from 'svelte/transition';
  import { _ } from 'svelte-i18n';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import SelectFilter from '$lib/ui/atoms/filters/select/SelectFilter.svelte';
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import type { Option } from '$lib/ui/types';

  import type { Snippet } from 'svelte';

  interface PropsEvents {
    onSearch: (args: { search: string; sort: SortValue }) => void;
  }

  let openFilter = $state(false);

  interface Props extends PropsEvents {
    withFilters?: boolean;
    placeholder?: string;
    caption: string;
    sorts?: Option<SortValue>[];
    sort: SortValue;
    search?: string;
    children?: Snippet;
  }

  let {
    withFilters = false,
    placeholder = '',
    caption,
    sorts = [],
    sort = $bindable(),
    search = $bindable(''),
    onSearch,
    children
  }: Props = $props();

  function onChange() {
    onSearch({ search, sort });
  }

  function toggleFilter() {
    openFilter = !openFilter;
  }

  const handleChange = debounce(onChange, 500);
</script>

<div class="min-width">
  <div class="form-group mb-1">
    <input
      name="search"
      class="form-control"
      onkeydown={handleChange}
      {placeholder}
      type="text"
      bind:value={search}
    />
  </div>

  <div class="d-flex justify-content-between align-items-baseline">
    {#if caption}
      <Caption>{caption}</Caption>
    {/if}

    {#if sorts && sorts.length}
      <SelectFilter
        dataCy="form-search-sort"
        items={sorts}
        label={$_('common.sortBy')}
        bind:value={sort}
        {onChange}
      />
    {/if}
    {#if withFilters}
      <div
        class="cursor-pointer"
        onclick={toggleFilter}
        onkeydown={toggleFilter}
        role="button"
        tabindex={2}
      >
        <Caption class="d-flex ml-2">
          {$_('common.moreFitlers')}
          {#if openFilter}
            <Icon name="arrowUp" />
          {:else}
            <Icon name="arrowDown" />
          {/if}
        </Caption>
      </div>
    {/if}
  </div>

  {#if withFilters && openFilter}
    <div transition:slide|global>
      {@render children?.()}
    </div>
  {/if}
</div>

<style>
  .min-width {
    min-width: 360px;
  }

  .cursor-pointer {
    cursor: pointer;
  }
</style>
