<script lang="ts">
  import Search from './Search.svelte';

  import type { ComponentProps } from 'svelte';

  interface Props extends Omit<ComponentProps<typeof Search>, 'children'> {}

  let props: Props = $props();
</script>

<Search {...props}>
  <div>this is a fake filter content</div>
</Search>
