<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import Link from '$lib/ui/molecules/app-link/base/BaseLink.svelte';

  import type { AppLinkComponentProps } from '../types';

  interface Props extends AppLinkComponentProps {
    logo?: string;
  }

  let {
    href,
    color = 'inherit',
    logo = 'link',
    medium = false,
    ...rest
  }: Props = $props();
</script>

<Link
  {...rest}
  {color}
  {href}
>
  <Icon
    name={logo}
    {medium}
  />
</Link>
