<script lang="ts">
  import { onMount } from 'svelte';
  import { _ } from 'svelte-i18n';

  import { goto } from '$app/navigation';

  import List from '$lib/ui/atoms/list/List.svelte';
  import Loading from '$lib/ui/atoms/loading/Loading.svelte';
  import ListWishItem from '$lib/ui/organisms/list-wish-item/ListWishItem.svelte';
  import Songs from '$lib/ui/pages/songs/Songs.svelte';
  import post from '$lib/utils/post';
  import {
    URL_WISHES,
    URL_WISHES_QUERY,
    API_URL_WISHES
  } from '$lib/views/song/constants';
  import type { SongSort, Song } from '$lib/types';
  import type { Option } from '$lib/ui/types';

  import type { PageData } from './$types';


  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let search = $state(data.search);
  let sort: SongSort = $state(data.sort);

  const limit = 50;
  let page = 0;
  let loading = $state(false);
  let total = $state(0);
  let items: Song[] = $state([]);
  let filters = {};

  type LoadSongsArgs = Partial<{
    search: string;
    sort: SongSort;
    page: number;
    limit: number;
    withFiles: boolean;
  }>;

  function onLoadMore(reset?: boolean | CustomEvent<never>) {
    loading = true;
    if (reset === true) {
      page = 0;
      items = [];
      total = 0;
    }

    post<Song[], LoadSongsArgs>(API_URL_WISHES, {
      page,
      sort,
      limit,
      search,
      withFiles: true,
      ...filters
    }).then((newItems) => {
      items = newItems;
      page += 1;
      total = items.length;
      loading = false;
    });
  }

  function onSearch(detail: {
    sort: SongSort;
    search: string;
    categoryId?: number;
    level?: number;
  }) {
    ({ sort, search, ...filters } = detail);
    goto(search ? URL_WISHES_QUERY.replace('#QUERY#', search) : URL_WISHES, {
      keepFocus: true
    });
    onLoadMore(true);
  }

  onMount(() => {
    onLoadMore(true);
  });

  let categories = $derived([
    { label: $_('song.category.placeholder'), value: undefined },
    ...data.categories
  ] satisfies Option[]);
  let levels = $derived([
    { label: $_('song.level.placeholder') },
    ...data.levels
  ]);
  let hasMore = $derived(items.length < total);
</script>

<Songs
  {...data}
  filters={{
    categories,
    levels
  }}
  {search}
  {sort}
  {total}
  {onSearch}
>
  <Loading
    {hasMore}
    isLoading={loading}
    {onLoadMore}
  >
    <List {items}>
      {#snippet children({ item })}
        <ListWishItem {...item} />
      {/snippet}
    </List>
  </Loading>
</Songs>
