<script lang="ts">
  import { _ } from 'svelte-i18n';

  import List from '$lib/ui/atoms/list/List.svelte';
  import Loading from '$lib/ui/atoms/loading/Loading.svelte';
  import ListPlaylistItem from '$lib/ui/organisms/list-playlist-item/ListPlaylistItem.svelte';
  import SearchList from '$lib/ui/templates/search-list/SearchList.svelte';
  import type { Playlist as PlaylistItem, PlaylistSort } from '$lib/types';
  import type { Option } from '$lib/ui/types';

  import type { ComponentProps } from 'svelte';

  interface PropsEvents
    extends Pick<ComponentProps<typeof Loading>, 'onLoadMore'> {
    onSearch: (args: { search: string; sort: PlaylistSort }) => void;
    onAdd: () => void;
  }

  const sortRules: Option<PlaylistSort>[] = [
    { value: 'nameDesc', label: 'playlist.sorts.createdDesc' },
    { value: 'nameAsc', label: 'playlist.sorts.createdAsc' }
  ];
  const sorts: Option<PlaylistSort>[] = sortRules.map(({ label, ...rest }) => ({
    ...rest,
    label: $_(label)
  }));

  interface Props extends PropsEvents {
    sort?: PlaylistSort;
    playlists?: PlaylistItem[];
    search?: string;
    playlist?: boolean;
    admin?: boolean;
    loading?: boolean;
    total: number;
    urlLast: string | undefined;
  }

  let {
    sort = 'nameDesc',
    playlists = [],
    search = '',
    playlist = false,
    admin = false,
    loading = false,
    total,
    urlLast,
    onSearch,
    onLoadMore,
    onAdd
  }: Props = $props();

  let hasMore = $derived(playlists.length < total);
</script>

<SearchList
  labelEmpty={$_('playlist.notFound')}
  labelTotal={$_('playlist.found')}
  placeholder={$_('common.search')}
  {search}
  {sort}
  {sorts}
  {total}
  {onSearch}
>
  <Loading
    {hasMore}
    isLoading={loading}
    {onLoadMore}
  >
    <List items={playlists}>
      {#snippet children({ item })}
        <ListPlaylistItem
          name={item.name}
          created={item.created}
          file={item.file}
          href={item.href}
          image={item.image}
          playlist={item.playlist}
          songs={item.songs}
        />
      {/snippet}
    </List>
  </Loading>

  {#snippet action()}
    <div>
      {#if playlist}
        <a
          class="btn btn-link"
          href={urlLast}>{$_('playlist.wishList')}</a
        >
        {#if admin}
          <button
            class="btn btn-link"
            onclick={onAdd}
            type="button">{$_('playlist.add')}</button
          >
        {/if}
      {/if}
    </div>
  {/snippet}
</SearchList>
