<script lang="ts">
  import { _ } from 'svelte-i18n';

  import PlaylistForm from '$lib/ui/organisms/form/playlist/PlaylistForm.svelte';
  import Playlist from '$lib/ui/organisms/playlist/Playlist.svelte';
  import type {
    Playlist as PlaylistItem,
    PlaylistType,
    Song as SongType
  } from '$lib/types';
  import type { FnAutoComplete, Option } from '$lib/ui/types';

  import type { ComponentProps } from 'svelte';

  interface Props
    extends Pick<ComponentProps<typeof PlaylistForm>, 'onSubmit'> {
    // general
    canEdit?: boolean;
    editing?: boolean;
    categories: Option[];
    type: PlaylistType;
    // playlist
    playlist?: Partial<PlaylistItem>;
    errors?: Record<string, string> | undefined;
    saving?: boolean;
    urlGenerate?: string | undefined;
    // functions
    loadArtists: FnAutoComplete;
    loadAuthors: FnAutoComplete;
    loadSongs: FnAutoComplete<SongType>;
    onCancel: () => void;
  }

  let {
    canEdit = false,
    editing = $bindable(false),
    categories,
    type,
    playlist = $bindable({
      type,
      songs: []
    }),
    errors = undefined,
    saving = false,
    urlGenerate = undefined,
    loadArtists,
    loadAuthors,
    loadSongs,
    onSubmit,
    onCancel
  }: Props = $props();

  function toggleEdit() {
    editing = !editing;
  }
</script>

<div>
  {#if canEdit && editing}
    <PlaylistForm
      {categories}
      {errors}
      {loadArtists}
      {loadAuthors}
      loadWishes={loadSongs}
      {saving}
      {urlGenerate}
      name={playlist.name}
      songs={playlist.songs}
      image={playlist.image}
      playlist={playlist.playlist}
      file={playlist.file}
      {onSubmit}
      onCancel={toggleEdit}
    />
  {:else}
    {#if canEdit}
      <div class="d-flex justify-content-end">
        <button
          class="btn btn-outline-primary"
          onclick={toggleEdit}
          type="button"
        >
          {$_('common.edit')}
        </button>
      </div>
    {/if}

    <Playlist
      {...playlist}
      {onCancel}
    />
  {/if}
</div>
