<script lang="ts">
  import { _ } from 'svelte-i18n';

  import { page } from '$app/state';

  import Propaganda from '../Propaganda.svelte';

  import Playlists from './Playlists.svelte';

  import type { PageData } from './$types';


  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();

  const { data: pageData } = page;

  let limit = $derived(data.playlistType === 'almanac' ? 2 : 10);
  let type = $derived(data.playlistType);
</script>

<Propaganda />

<Playlists
  headerDescription={$_('headers.playlists')}
  headerTitle={$_(`${type}.header`)}
  {limit}
  logged={!!pageData.session?.id}
  search={data.search}
  sort={data.sort}
  {type}
  urlEdit={`/${type}/#ID#`}
  urlIndex={`/${type}`}
  urlLast={type === 'playlist' ? `/${type}/last` : undefined}
  urlQuery={`/${type}?s=#QUERY#`}
/>
