<script lang="ts">
  import SectionTitle from '$lib/ui/atoms/section-title/SectionTitle.svelte';

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
    footer: unknown;
  }

  interface Props {
    title: string;
    children?: import('svelte').Snippet;
    footer?: import('svelte').Snippet;
  }

  let { title, children, footer }: Props = $props();
</script>

<div class="py-1 px-1 mx-auto col mb-3">
  <SectionTitle class="mb-3">
    <span>{title}</span>
  </SectionTitle>

  {@render children?.()}

  {@render footer?.()}
</div>
