<script lang="ts">
  import { page } from '$app/state';
  const { error, status } = page;
</script>

<h1>
  {error && 'code' in error ? error?.code : status}
</h1>

<p>{error?.message}</p>

<style>
  h1,
  p {
    margin: 0 auto;
  }

  h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  p {
    margin: 1em auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>
