<script lang="ts">
  import { t as _, locale } from 'svelte-i18n';

  import { page } from '$app/state';

  import { FOOTER_LINKS } from '$lib/core/config';
  import Footer from '$lib/ui/organisms/footer/Footer.svelte';
  import Navbar from '$lib/ui/organisms/navbar/Navbar.svelte';

  import { serializeSchema } from './serializeSchema';

  import type { ComponentProps, Snippet } from 'svelte';

  interface Props {
    children?: Snippet;
  }

  let { children }: Props = $props();

  const appIcon = '/logo-270.png';
  const footerLinks = FOOTER_LINKS.split(';');

  function handleChangeLang() {
    $locale = lang;
  }

  function getLinks(
    user: Record<string, never> | { id: number; name: string }
  ) {
    const links: ComponentProps<typeof Navbar>['links'] = [
      { href: '/#join', label: 'home.join.title', id: 'join' },
      { href: '/playlist', label: 'navs.playlist', id: 'playlist' },
      { href: '/song', label: 'navs.song', id: 'song' },
      { href: '/almanac', label: 'navs.almanac', id: 'almanac' },
      { href: '/songbook', label: 'navs.songbook', id: 'songbook' }
    ];

    if (user?.id) {
      links.push({
        href: '/user',
        label: user.name,
        icon: 'contact',
        id: 'me'
      });
    }

    return links;
  }

  let lang = $derived($locale === 'fr' ? 'en' : 'fr');
  let links = $derived(
    getLinks(page.data.session?.id ? page.data.session : undefined)
  );
  let schema = $derived({
    '@context': 'https://schema.org',
    '@graph': [
      {
        '@context': 'https://schema.org/',
        '@type': 'WebSite',
        url: 'https://www.rendevuke.com/',
        name: $_('site.title'),
        description: $_('site.description'),
        sameAs: footerLinks,
        creator: {
          '@type': 'Organization',
          url: 'https://www.rendevuke.com/',
          logo: 'https://www.rendevuke.com/logo-270.png'
        },
        potentialAction: {
          '@type': 'SearchAction',
          target: 'https://www.rendevuke.com/song/?s={search_term_string}',
          'query-input': 'required name=search_term_string'
        }
      },
      {
        '@type': 'WebPage',
        name: $_('home.description.content'),
        '@id': 'https://www.rendevuke.com/#join',
        url: 'https://www.rendevuke.com/#join'
      },
      {
        '@type': 'WebPage',
        name: $_('headers.songs'),
        '@id': 'https://www.rendevuke.com/song',
        url: 'https://www.rendevuke.com/song'
      },
      {
        '@type': 'WebPage',
        name: $_('headers.current'),
        '@id': 'https://www.rendevuke.com/playlist/current',
        url: 'https://www.rendevuke.com/playlist/current'
      },
      {
        '@type': 'WebPage',
        name: $_('headers.playlists'),
        '@id': 'https://www.rendevuke.com/playlist',
        url: 'https://www.rendevuke.com/playlist'
      }
    ]
  });
  const { url } = page;
</script>

<svelte:head>
  <!-- eslint-disable-next-line svelte/no-at-html-tags -->
  {@html serializeSchema(schema)}
</svelte:head>

<header>
  <Navbar
    {appIcon}
    {lang}
    {links}
    path={url.pathname}
    onChangeLang={handleChangeLang}
  />
</header>

<main>
  <div class="container">
    {@render children?.()}
  </div>
</main>

<footer>
  <Footer links={footerLinks} />
</footer>

<style>
  main {
    height: 100%;
    flex-grow: 1;
    margin-top: 2em;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1664;
  }
</style>
