<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import SectionTitle from '$lib/ui/atoms/section-title/SectionTitle.svelte';
  const display = false;
</script>

{#if display}
  <div class="propaganda d-flex flex-column align-items-center">
    <h1 class="h2 text-danger d-flex align-items-center">
      <Icon
        name="warning"
        large
      />
      <span>Votre attention !</span>
      <Icon
        name="warning"
        large
      />
    </h1>

    <h3 class="h4 text-center text-secondary">
      A partir de dorénavant, les Rendev`uke se dérouleront au :
      <strong
        ><a
          href="https://www.lemammouth-bar.fr/#lagrotte"
          target="_blank"
          rel="noreferrer noopener"
          class="underline">Mammouth Bar</a
        ><br />116 rue Amelot, 75011 Paris</strong
      >
    </h3>
    <SectionTitle />
  </div>
{/if}

<style>
  .propaganda {
    max-width: 500px;
    margin: auto;
    margin-bottom: 3em;
  }

  .propaganda a {
    text-decoration: underline;
  }

  .propaganda strong {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    display: block;
  }
</style>
