<script lang="ts">
  import BaseLink from './BaseLink.svelte';

  import type { ComponentProps } from 'svelte';

  type Props = ComponentProps<typeof BaseLink>;

  let props: Props = $props();
</script>

<BaseLink {...props}>mon contenu</BaseLink>
