<script lang="ts">
  import Link from '$lib/ui/atoms/link/Link.svelte';

  import type { Snippet } from 'svelte';

  interface Props {
    href: string;
    blank?: boolean;
    color?: string;
    children?: Snippet;
    onMouseout?: () => void;
    onMouseover?: () => void;
  }

  let {
    href,
    blank = true,
    color = 'inherit',
    children,
    onMouseover,
    onMouseout
  }: Props = $props();
</script>

<Link
  class="text-primary btn btn-link btn-sm p-0 mx-auto"
  {blank}
  {href}
  {onMouseout}
  {onMouseover}
>
  <!-- eslint-disable-next-line svelte/no-inline-styles -->
  <span style:color>
    {@render children?.()}
  </span>
</Link>

<style>
  span {
    opacity: 0.65;
  }

  span:hover {
    opacity: 1;
  }
</style>
