<script lang="ts">
  import Section from './Section.svelte';

  import type { ComponentProps } from 'svelte';

  interface Props extends ComponentProps<typeof Section> {
    content: string;
  }

  let { content, ...restProps }: Props = $props();
</script>

<Section {...restProps}>
  <!-- eslint-disable-next-line svelte/no-at-html-tags -->
  {@html content}
</Section>
