<script lang="ts">
  import SectionTitle from '$lib/ui/atoms/section-title/SectionTitle.svelte';

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

  interface Props {
    id?: string;
    title: string;
    image: string;
    reverse?: boolean;
    children?: import('svelte').Snippet;
  }

  let { id = '', title, image, reverse = false, children }: Props = $props();

  let backgroundImage = $derived(`url(${image})`);
</script>

<section>
  <div class="m-3">
    <!-- eslint-disable-next-line svelte/no-at-html-tags -->
    <SectionTitle {id}>{@html title}</SectionTitle>
  </div>
  <div
    class="row shadow"
    class:flex-row-reverse={!reverse}
  >
    <!-- eslint-disable svelte/no-inline-styles -->
    <div
      style:background-image={backgroundImage}
      class="d-none d-sm-flex col-sm-3 col-md-5 image rounded"
    >
      <span></span>
    </div>
    <!-- eslint-enable svelte/no-inline-styles -->
    <div
      class="col-12 col-sm-9 col-md-7 p-2"
      class:pl-sm-0={reverse}
      class:pr-sm-0={!reverse}
    >
      <div class="card-body p-0">
        {@render children?.()}
      </div>
    </div>
  </div>
</section>

<style>
  .image {
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  .image span {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, white, transparent);
  }

  .flex-row-reverse .image {
    flex-direction: row;
  }

  .flex-row-reverse .image span {
    background-image: linear-gradient(to right, white, transparent);
  }
</style>
