<script lang="ts">

  import { goto } from '$app/navigation';

  import PlaylistHelp from '$lib/ui/pages/playlist-help/PlaylistHelp.svelte';
  import {
    API_URL_DOWNLOAD,
    URL_TEMPLATE_RESUME_DOCX,
    URL_TEMPLATE_RESUME_ODT,
    URL_EDIT
  } from '$lib/views/playlist/constants';
  import Headers from '$lib/views/utils/headers/Headers.svelte';
  import type { Song } from '$lib/types';

  import type { PageData } from './$types';


  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  const { id, name, image, songs } = data;

  const flagA3 = ' (A3)';

  function getSummaryLine({
    title,
    position,
    isA3
  }: {
    title: string;
    position: string;
    isA3?: boolean;
  }) {
    let dot = `- ${title}${isA3 ? flagA3 : ''} `;
    const length = title.length + 1 + (isA3 ? flagA3.length : 0);

    for (let i = length; i < 48; i++) {
      dot += '.';
    }

    return dot + ` ${position}\n`;
  }

  function goToList() {
    goto(URL_EDIT.replace('#ID#', `${id}`));
  }

  const templates = {
    docx: URL_TEMPLATE_RESUME_DOCX,
    odt: URL_TEMPLATE_RESUME_ODT
  };
  const urlSongs = API_URL_DOWNLOAD.replace('#ID#', `${id}`);

  const summary = songs
    .filter((s: Song): s is Song & { position: number } => !!s.position)
    .map(({ title, position, isA3 }: Song & { position: number }) =>
      getSummaryLine({
        title,
        position: `${position < 10 ? 0 : ''}${position}`,
        isA3: !!isA3
      })
    )
    .join('');
</script>

<Headers />

<PlaylistHelp
  {name}
  {image}
  {summary}
  {templates}
  {urlSongs}
  onCancel={goToList}
/>
