<script lang="ts">
  import omit from 'lodash/omit';
  import { _ } from 'svelte-i18n';

  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import SelectField from '$lib/ui/atoms/fields/select/SelectField.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import YoutubeField from '$lib/ui/atoms/fields/youtube/YoutubeField.svelte';
  import FileUpload from '$lib/ui/atoms/file-upload/FileUpload.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import Actions from '$lib/ui/molecules/actions/Actions.svelte';
  import AutoComplete from '$lib/ui/molecules/auto-complete/AutoComplete.svelte';
  import File from '$lib/ui/molecules/file/File.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import type { SongFile, Song, PlaylistSong } from '$lib/types';
  import type {
    ComponentEventArgs,
    FnAutoComplete,
    Option
  } from '$lib/ui/types';

  import { acceptedSongFile } from './constants';

  import type { ComponentProps } from 'svelte';

  interface Props extends Pick<ComponentProps<typeof Actions>, 'onCancel'> {
    artist?: string;
    author?: string;
    categoryId?: number | undefined;
    title?: string;
    level?: number;
    link?: string;
    fileId?: number | undefined;
    errors?: Record<string, string>;
    files?: SongFile[];
    isSaving?: boolean;
    playlists?: PlaylistSong[];
    acceptedFiles?: string;
    categories?: Option[];
    loadArtists: FnAutoComplete;
    loadAuthors: FnAutoComplete;
    uploadFile: (args: {
      files: SongFile[];
      file: unknown;
      index: number;
    }) => Promise<SongFile[]>;
    onSubmit: (args: Omit<Song, 'href' | 'category'>) => void;
  }

  let {
    artist = $bindable(''),
    author = $bindable(''),
    categoryId = $bindable(undefined),
    title = $bindable(''),
    level = $bindable(1),
    link = $bindable(''),
    fileId = $bindable(undefined),
    errors = {},
    files = $bindable([]),
    isSaving = false,
    playlists = [],
    acceptedFiles = acceptedSongFile.join(','),
    categories = [],
    loadArtists,
    loadAuthors,
    onSubmit,
    onCancel,
    uploadFile
  }: Props = $props();

  let song: Song | undefined;

  let listErrors = $derived(
    omit(errors, [
      'artist',
      'author',
      'categoryId',
      'title',
      'level',
      'link',
      'files'
    ])
  );

  function handleSubmit() {
    let detail = {
      title,
      author,
      artist,
      link,
      categoryId,
      level,
      files,
      fileId
    };

    // TODO why this if ?
    if (song && song.artist === artist && song.title === title) {
      detail = { ...song, ...detail };
    }

    onSubmit(detail);
  }

  async function handleUpload(
    detail: ComponentEventArgs<typeof FileUpload, 'onChange'>
  ) {
    const { file } = detail;
    const index = files.findIndex(
      ({ name, type }) => file.name === `${name}.${type}`
    );

    if (index > -1) {
      const resp = confirm(`
        ${file.name}, already exists.
        Do you want to replace it?
      `);
      if (!resp) {
        return;
      }
    }

    files = await uploadFile({ files, file: detail, index });
  }

  function findFile(file: SongFile) {
    return files.findIndex(
      !file?.id
        ? ({ name, type }: SongFile) => name === file.name && type === file.type
        : (f: SongFile) => f.id === file.id
    );
  }

  function onSelectFile(file: ComponentEventArgs<typeof File, 'onSelect'>) {
    if (!file) {
      return;
    }
    const index = findFile(file);

    files = files.map((f, i) => ({ ...f, selected: index === i }));
    if (index > -1) {
      fileId = files[index].id;
    }
  }

  function onChangeFile(file: ComponentEventArgs<typeof File, 'onChange'>) {
    const index = findFile(file);

    files = [...files.slice(0, index), file, ...files.slice(index + 1)];
  }

  function onSelectArtist(
    detail: ComponentEventArgs<typeof AutoComplete, 'onSelect'>
  ) {
    artist = detail.label;
  }

  function onSelectAuthor(
    detail: ComponentEventArgs<typeof AutoComplete, 'onSelect'>
  ) {
    author = detail.label;
  }
</script>

<div>
  <div class="mb-2">
    <Actions
      dataTestId="save-song-action"
      saving={isSaving}
      onSubmit={handleSubmit}
      {onCancel}
    />
  </div>

  {#if Object.keys(listErrors).length}
    <Errors errors={listErrors} />
  {/if}
  <div class="form">
    <div class="col-lg-6">
      <TextField
        name="title"
        error={errors?.title}
        label={$_('song.title')}
        placeholder={$_('song.title')}
        type="text"
        bind:value={title}
      />
    </div>

    <div class="col-lg-6">
      <AutoComplete
        name="artist"
        error={errors?.artist}
        label={$_('song.artist')}
        loadOptions={loadArtists}
        placeholder={$_('song.artist')}
        bind:value={artist}
        onSelect={onSelectArtist}
      />
    </div>

    <div class="col-lg-3 col-md-6 col-12">
      <AutoComplete
        name="author"
        error={errors.author}
        label={$_('song.author')}
        loadOptions={loadAuthors}
        placeholder={$_('song.author')}
        bind:value={author}
        onSelect={onSelectAuthor}
      />
    </div>

    <div class="col-lg-5 col-md-6 col-12">
      <YoutubeField
        name="youtube-link"
        error={errors.link}
        label={$_('song.link')}
        placeholder={$_('song.link')}
        bind:value={link}
      />
    </div>

    <div class="col-lg-3 col-md-6 col-12">
      <SelectField
        name="category"
        error={errors.categoryId}
        items={categories}
        label={$_('song.category')}
        placeholder={$_('song.category')}
        bind:value={categoryId}
      />
    </div>

    <div class="col-lg-1 col-md-6">
      <TextField
        name="level"
        error={errors.level}
        label={$_('song.level')}
        type="number"
        bind:value={level}
      />
    </div>
  </div>

  <div class="d-flex justify-content-end mb-2">
    <FileUpload
      accept={acceptedFiles}
      onChange={handleUpload}
    />
  </div>

  <div class="list-group list-group-flush">
    {#each files as file (file.fullpath)}
      <File
        {...file}
        onSelect={onSelectFile}
        onChange={onChangeFile}
      />
    {/each}
  </div>

  {#if playlists && playlists.length}
    <div class="mt-5">
      <hr />
      <div>
        <List items={playlists}>
          {#snippet children({ item })}
            <OrderListItem {...item} />
          {/snippet}
        </List>
      </div>
    </div>
  {/if}
</div>

<style>
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
</style>
