<script lang="ts">
  import { _ } from 'svelte-i18n';

  import CancelButton from '$lib/ui/atoms/buttons/cancel/CancelButton.svelte';

  interface Props {
    saving?: boolean;
    dataTestId?: string | undefined;
    onSubmit: () => void;
    onCancel: () => void;
  }

  let {
    saving = false,
    dataTestId = undefined,
    onSubmit,
    onCancel
  }: Props = $props();

  let saveLabel = $derived($_('common.' + (saving ? 'saving' : 'save')));
</script>

<div class="actions">
  <CancelButton onClick={onCancel}>
    {$_('common.back')}
  </CancelButton>
  <button
    class="btn"
    class:btn-outline-success={!saving}
    class:btn-success={saving}
    data-cy={dataTestId}
    disabled={saving}
    onclick={saving ? null : onSubmit}
    type="button"
  >
    {saveLabel}
  </button>
</div>

<style>
  .actions {
    display: flex;
    justify-content: space-between;
  }
</style>
