<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  interface Props {
    src?: undefined | string;
    small?: boolean;
  }

  let { src = undefined, small = false }: Props = $props();

  let backgroundImage = $derived(src ? `url(${encodeURI(src)})` : undefined);
</script>

<div
  class="image border border-secondary rounded-circle"
  class:small
>
  {#if src}
    <!-- eslint-disable svelte/no-inline-styles -->
    <div style:background-image={backgroundImage}></div>
    <!-- eslint-enable svelte/no-inline-styles -->
  {:else}
    <Icon
      name="images"
      large
    />
  {/if}
</div>

<style>
  .image {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    background-color: white;
  }

  .image > div {
    width: 105%;
    height: 105%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .image.small {
    width: 75px;
    height: 75px;
  }
</style>
