<script lang="ts">
  import get from 'lodash/get';
  import isArray from 'lodash/isArray';

  interface Props {
    errors?: undefined | string | string[] | Record<string, string>;
  }

  let { errors = undefined }: Props = $props();

  let keys = $derived(
    typeof errors === 'string'
      ? [errors]
      : isArray(errors)
        ? errors
        : (Object.keys(errors || {}) as string[])
  );
</script>

{#if errors && keys && keys.length}
  <ul
    class="alert alert-danger"
    role="alert"
  >
    {#each keys as key (key)}
      <!-- eslint-disable-next-line svelte/no-at-html-tags -->
      <li><strong>{key} :</strong> {@html get(errors, key)}</li>
    {/each}
  </ul>
{/if}

<style>
  ul {
    list-style-type: none;
  }
</style>
