<script lang="ts">
  import type { Snippet } from 'svelte';

  interface Props {
    href?: string | undefined;
    blank?: boolean;
    tabindex?: number | undefined;
    children?: Snippet;
    onMouseover?: () => void;
    onMouseout?: () => void;
    class?: string;
  }

  let {
    href = undefined,
    blank = false,
    tabindex = undefined,
    children,
    onMouseover,
    onMouseout,
    ...rest
  }: Props = $props();

  let linkOpts = $derived(blank ? { target: '_blank', rel: 'noreferrer' } : {});
</script>

{#if href}
  <a
    {href}
    {...rest}
    {...linkOpts}
    onblur={onMouseout}
    onfocus={onMouseover}
    onmouseout={onMouseout}
    onmouseover={onMouseover}
  >
    {@render children?.()}
  </a>
{:else}
  <div
    {...rest}
    onblur={onMouseout}
    onfocus={onMouseover}
    onmouseout={onMouseout}
    onmouseover={onMouseover}
    role="link"
    {tabindex}
  >
    {@render children?.()}
  </div>
{/if}

<style>
  a {
    font-size: inherit;
    line-height: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  a:active,
  a:focus {
    outline: none;
    outline-style: none;
  }
</style>
