<script lang="ts">
  import { _ } from 'svelte-i18n';

  import SelectFilter from '$lib/ui/atoms/filters/select/SelectFilter.svelte';
  import SearchList from '$lib/ui/templates/search-list/SearchList.svelte';
  import type { SongSort } from '$lib/types';
  import type { Option } from '$lib/ui/types';

  import type { Snippet } from 'svelte';

  interface Props {
    sort?: SongSort;
    search?: string;
    admin?: boolean;
    total?: number;
    filters: {
      categories: Option[];
      levels: Option[];
    };
    children?: Snippet;
    onAdd?: () => void;
    onSearch: (args: {
      sort: SongSort;
      search: string;
      categoryId?: number;
      level?: number;
    }) => void;
  }

  const sorts = (
    [
      { label: 'song.sorts.titleAsc', value: 'titleAsc' },
      { label: 'song.sorts.titleDesc', value: 'titleDesc' },
      { label: 'song.sorts.artistAsc', value: 'artistAsc' },
      { label: 'song.sorts.artistDesc', value: 'artistDesc' },
      { label: 'song.sorts.createdDesc', value: 'createdDesc' },
      { label: 'song.sorts.updatedDesc', value: 'updatedDesc' }
    ] as Array<{ label: string; value: SongSort }>
  ).map(({ label, ...rest }) => ({ ...rest, label: $_(label) }));

  let {
    sort = sorts[0].value,
    search = '',
    admin = false,
    total = 0,
    filters,
    children,
    onAdd,
    onSearch
  }: Props = $props();
  let categoryId: number | undefined = $state();
  let level: number | undefined = $state();

  function handleSearch(detail: { search: string; sort: SongSort }) {
    onSearch({
      ...detail,
      categoryId,
      level
    });
  }

  function onFilterChange() {
    onSearch({
      sort,
      search,
      categoryId,
      level
    });
  }
</script>

<SearchList
  labelEmpty={$_('song.notFound')}
  labelTotal={$_('song.found')}
  placeholder={$_('common.search')}
  {search}
  {sort}
  {sorts}
  {total}
  withFilters={true}
  onSearch={handleSearch}
>
  {@render children?.()}
  {#snippet filter()}
    <div class="d-flex flex-wrap pb-2 justify-content-end">
      <div class="m-2">
        <SelectFilter
          items={filters.categories}
          label={$_('song.category')}
          bind:value={categoryId}
          onChange={onFilterChange}
        />
      </div>

      <div class="m-2">
        <SelectFilter
          items={filters.levels}
          label={$_('song.level')}
          bind:value={level}
          onChange={onFilterChange}
        />
      </div>
    </div>
  {/snippet}
  {#snippet action()}
    <div>
      {#if admin}
        <button
          class="btn btn-link"
          data-cy="button-add-song"
          onclick={onAdd}
          type="button">{$_('song.add')}</button
        >
      {/if}
    </div>
  {/snippet}
</SearchList>
