<script lang="ts">
  import { _ } from 'svelte-i18n';

  import CancelButton from '$lib/ui/atoms/buttons/cancel/CancelButton.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import Avatar from '$lib/ui/molecules/avatar/Avatar.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import SectionSongs from '$lib/ui/molecules/section-songs/SectionSongs.svelte';
  import YoutubePreview from '$lib/ui/molecules/youtube-preview/YoutubePreview.svelte';
  import type {
    PlaylistFile,
    PlaylistImage,
    Song as SongType
  } from '$lib/types';

  interface Props {
    name?: string;
    songs?: SongType[];
    playlist?: string;
    image?: PlaylistImage | undefined;
    file?: PlaylistFile | undefined;
    onCancel: () => void;
  }

  let {
    name = '',
    songs = [],
    playlist = '',
    image = undefined,
    file = undefined,
    onCancel
  }: Props = $props();

  let choices = $derived(songs.filter((s) => s.position));
  let wishes = $derived(file?.fullpath ? [] : songs.filter((s) => !s.position));

  let bonusSongs = $derived(songs.filter((song) => song.isA3 && song.fileId));

  // TODO move this in section songs footer
  let nbChoicesAvailable = $derived(choices.filter((s) => s.fileId).length);
  let nbWishesAvailable = $derived(wishes.filter((s) => s.fileId).length);
  let totalSongs = $derived(
    choices.length === nbChoicesAvailable
      ? $_('playlist.songsTotal').replace('%TOTAL%', `${choices.length}`)
      : $_('playlist.songsTotalAvailable')
          .replace('%TOTAL%', `${choices.length}`)
          .replace('%TOTAL_AVAILABLE%', `${nbChoicesAvailable}`)
  );
  let totalWishes = $derived(
    wishes.length === nbWishesAvailable
      ? $_('playlist.wishesTotal').replace('%TOTAL%', `${wishes.length}`)
      : $_('playlist.wishesTotalAvailable')
          .replace('%TOTAL%', `${wishes.length}`)
          .replace('%TOTAL_AVAILABLE%', `${nbWishesAvailable}`)
  );
</script>

<div
  class="d-flex flex-column justify-content-around align-items-center mb-3 mx-lg-5"
  data-cy="playlist"
>
  <Avatar {...image || {}} />

  <Link
    class="mb-3"
    href={file && file.fullpath}
    blank
  >
    <h1>{name}</h1>
  </Link>
  <div class="d-flex flex-column align-items-center mb-3">
    {#if file && file.fullpath}
      <a
        class="btn btn-primary"
        href={file.fullpath}
        rel="noopener noreferrer"
        target="_blank"
      >
        {$_('playlist.download')}
      </a>

      {#if bonusSongs.length > 0}
        <div class="bonus-content mb-4 mt-4">
          {#each bonusSongs as song (song.id)}
            <a
              class="btn-sm btn btn-secondary"
              href={song.fullpath}
              rel="noopener noreferrer"
              target="_blank"
            >
              {song.title} - {song.artist} ( A3 )
            </a>
          {/each}
        </div>
      {/if}
    {/if}
  </div>
  {#if playlist}
    <div class="mb-4">
      <YoutubePreview link={playlist} />
    </div>
  {/if}

  {#if choices.length}
    <SectionSongs title={$_('playlist.section.songs.title')}>
      {#snippet footer()}
        <div>
          {#if choices.length}
            <div class="text-right text-muted mt-3">
              {totalSongs}
            </div>
          {/if}
        </div>
      {/snippet}
      <List
        indexKey="id"
        items={choices}
      >
        {#snippet children({ item })}
          <OrderListItem
            {...item}
            id={item.id ?? 0}
            file={item.fullpath}
            isA3={item.isA3 ? true : false}
            position={item.position}
            subtitle={item.artist}
            title={item.title}
            youtube={item.link}
          />
        {/snippet}
      </List>
    </SectionSongs>
  {/if}

  {#if wishes.length}
    <SectionSongs title={$_('playlist.section.wishes.title')}>
      {#snippet footer()}
        <div>
          {#if wishes.length}
            <div class="text-right text-muted mt-3">
              {totalWishes}
            </div>
          {:else}
            <div class="text-center text-muted">
              {$_('playlist.section.wishes.empty')}
            </div>
          {/if}
        </div>
      {/snippet}
      <List
        indexKey="id"
        items={wishes}
      >
        {#snippet children({ item })}
          <OrderListItem
            {...item}
            id={item.id ?? 0}
            file={item.fullpath}
            isA3={item.isA3 ? true : false}
            position={item.position}
            subtitle={item.artist}
            title={item.title}
            youtube={item.link}
          />
        {/snippet}
      </List>
    </SectionSongs>
  {/if}

  <div class="mt-5">
    <CancelButton onClick={onCancel}>
      {$_('common.back')}
    </CancelButton>
  </div>
</div>

<style>
  h1 {
    margin-bottom: 1em;
  }

  .bonus-content {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>
