<script lang="ts">
  import formatDistanceToNow from 'date-fns/formatDistanceToNow/index.js';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import { parseDate } from '$lib/utils/date';

  interface Props {
    value: Date | string | undefined;
  }

  let { value }: Props = $props();

  function getValue(value: unknown): string {
    if (value instanceof Date) {
      return formatDistanceToNow(value);
    }

    const date = parseDate(value);
    if (!date) {
      return '-';
    }
    return formatDistanceToNow(date);
  }

  let date = $derived(getValue(value));
</script>

<Caption>{date}</Caption>
