<script lang="ts">
  import formatDistanceToNow from 'date-fns/formatDistanceToNow/index.js';
  import { _ } from 'svelte-i18n';

  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import type { Song as SongType } from '$lib/types';
  import type { Option } from '$lib/ui/types';

  import type { ComponentProps } from 'svelte';

  interface PropsEvents
    extends Pick<ComponentProps<typeof OrderListItem>, 'onPositionChange'> {
    onDelete: (arg: SongType) => void;
  }
  interface Props extends PropsEvents {
    item: SongType;
    positionOptions: Option<number>[];
    draggable?: boolean;
  }

  let {
    item,
    positionOptions,
    draggable = false,
    onPositionChange,
    onDelete,
    ...rest
  }: Props = $props();

  function handleDelete(e: Event) {
    e.preventDefault();
    onDelete(item);
  }
</script>

<OrderListItem
  {...rest}
  id={item.id ?? 0}
  file={item.fullpath}
  isA3={item.isA3 ? true : false}
  position={item.position}
  {positionOptions}
  subtitle={item.artist}
  title={item.title}
  youtube={item.link}
  {onPositionChange}
>
  {#snippet mainAction()}
    <div>
      {#if draggable}
        <div class="text-muted d-flex align-items-center">
          <Icon
            name="grip"
            small
          />
        </div>
      {/if}
    </div>
  {/snippet}

  {#snippet details()}
    <div
      class="d-flex px-2 px-sm-0 flex-sm-column align-items-stretch small text-muted"
    >
      <div
        class="d-flex flex-row justify-contents-end justify-contents-sm-between text-truncate text-muted details"
      >
        <span
          title={$_('playlist.songs.author')}
          class="author text-truncate d-none d-sm-block"
          >{item.author ? item.author : ' '}</span
        >

        <span
          title={$_('playlist.songs.level')}
          class="text-truncate"
        >
          {item.level ? item.level : '-'}
        </span>
      </div>
      {#if item?.lastPlaylistDate}
        <span
          class="d-none d-sm-block"
          title={`${$_('playlist.songs.lastPlaylist')}: ${item.lastPlaylistDate}`}
          >{formatDistanceToNow(
            new Date(item.lastPlaylistDate)
          ).toString()}</span
        >
      {:else}
        <span class="d-none d-sm-block">&nbsp;</span>
      {/if}
    </div>
  {/snippet}
  {#snippet actions()}
    <div class="d-flex align-items-center">
      <a
        class="text-primary mr-2"
        href={item.href}
      >
        <Icon name="create" />
      </a>
      <button
        class="text-danger btn btn-link btn-sm"
        onclick={handleDelete}
        onkeydown={handleDelete}
        tabindex={2}
        type="button"
      >
        <Icon name="trash" />
      </button>
    </div>
  {/snippet}
</OrderListItem>

<style>
  .btn {
    padding: 0;
  }

  .details {
    gap: 0.5rem;
  }

  .author {
    max-width: 80%;
  }
</style>
