<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  interface Props {
    selected?: boolean;
    name?: string;
    color?: string;
    offName?: string;
    title?: string;
    offColor?: string;
    medium?: boolean;
    tabindex?: number;
    class?: string;
    onClick?: () => void;
  }

  let {
    selected = false,
    name = 'star',
    color = '#fbb51e',
    offName = 'starOutline',
    title = undefined,
    offColor = undefined,
    medium = false,
    tabindex = undefined,
    onClick,
    class: classProps
  }: Props = $props();

  const handleClick = $derived(
    onClick
      ? (e: Event) => {
          e.preventDefault();
          onClick();
        }
      : undefined
  );
</script>

<span
  class={`${classProps} main`}
  class:selected
  role="button"
  {tabindex}
  {title}
  onclick={handleClick}
  onkeydown={handleClick}
>
  <!-- eslint-disable svelte/no-inline-styles -->
  <span
    style:color
    class="select"
  >
    <!-- eslint-enable svelte/no-inline-styles -->
    <Icon
      {name}
      {medium}
    />
  </span>

  <!-- eslint-disable svelte/no-inline-styles -->
  <span
    style:color={offColor || color}
    class="unselect"
  >
    <!-- eslint-enable svelte/no-inline-styles -->
    <Icon
      name={offName}
      {medium}
    />
  </span>
</span>

<style>
  .main {
    cursor: pointer;
  }

  .main .select,
  .main:hover .unselect,
  .main.selected .unselect,
  .main.selected:hover .select {
    display: none;
  }

  .main .unselect,
  .main:hover .select,
  .main.selected .select,
  .main.selected:hover .unselect {
    display: block;
  }

  .unselect {
    color: grey;
  }
</style>
