<script lang="ts">
  import { URL_INDEX, URL_EDIT } from '$lib/views/playlist/constants';
  import Edit from '$lib/views/playlist/edit/Edit.svelte';

  import Propaganda from '../../Propaganda.svelte';

  import type { PageData } from './$types';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
</script>

<Propaganda />

<Edit
  {...data}
  urlEdit={URL_EDIT}
  urlIndex={URL_INDEX}
/>
