<script lang="ts">
  import type { Snippet } from 'svelte';

  interface Props {
    class?: string;
    children?: Snippet;
  }

  let { children, class: classProps }: Props = $props();
</script>

<span class={classProps}>
  {@render children?.()}
</span>

<style>
  span {
    color: grey;
    font-size: 0.8em;
  }
</style>
