<script lang="ts">
  import omit from 'lodash/omit';

  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import SongTitle from '$lib/ui/molecules/title/Title.svelte';
  import type { ComponentEventArgs, SongItem } from '$lib/ui/types';

  type Props = SongItem;

  interface Events {
    onPositionChange: (args: Props) => void;
    onDelete: (args: Props) => void;
  }

  let {
    href = '',
    position = undefined,
    title = '',
    artist = '',
    author = '',
    level = undefined,
    edition = undefined,
    fullpath = '',
    link = '',
    isA3 = 0,
    unsaved = false,
    onDelete,
    onPositionChange
  }: Props & Events = $props();

  function getProps() {
    return {
      href,
      position,
      title,
      artist,
      author,
      level,
      edition,
      fullpath,
      link,
      isA3,
      unsaved
    };
  }

  function handleDelete() {
    onDelete({
      ...getProps(),
      title,
      artist
    });
  }

  function handlePositionChange(
    e: ComponentEventArgs<typeof TextField, 'onChange'>
  ) {
    const value = parseInt(e.currentTarget.value);
    position = value ? value : undefined;
    onPositionChange({
      ...omit(getProps(), 'position'),
      title,
      artist,
      position
    });
  }
</script>

<tr
  class:new={unsaved}
  data-cy="table-song-item"
>
  <th scope="row">
    <div class="pos">
      {#if edition}
        <TextField
          class="mb-0"
          placeholder="-"
          small
          type="number"
          value={position || ''}
          onChange={handlePositionChange}
        />
      {:else}
        {position}
      {/if}
    </div>
  </th>
  <td class="p-2">
    <SongTitle
      file={fullpath}
      {href}
      {isA3}
      subtitle={artist}
      {title}
      youtube={link}
    />
  </td>
  <td class="text-center">{author || '-'}</td>
  <td class="text-center">{level || '-'}</td>
  {#if edition}
    <td class="d-flex justify-content-around">
      <a
        class="icon text-primary mr-2"
        {href}
      >
        <Icon name="create" />
      </a>
      <span
        class="icon text-danger"
        role="button"
        tabindex={2}
        onclick={handleDelete}
        onkeydown={handleDelete}
      >
        <Icon name="trash" />
      </span>
    </td>
  {/if}
</tr>

<style>
  th .pos,
  th {
    width: 55px;
  }

  .icon {
    min-height: 15px;
    min-width: 15px;
    cursor: pointer;
    font-size: 1.5em;
  }

  .new {
    background-color: #efb73e2e;
  }
</style>
