<script lang="ts">
  import omit from 'lodash/omit';
  import sortBy from 'lodash/sortBy';
  import { flip } from 'svelte/animate';
  import { dndzone } from 'svelte-dnd-action';
  import { _ } from 'svelte-i18n';

  import List from '$lib/ui/atoms/list/List.svelte';
  import SectionSongs from '$lib/ui/molecules/section-songs/SectionSongs.svelte';
  import type { Song as SongType } from '$lib/types';
  import type { ComponentEventArgs, Option } from '$lib/ui/types';

  import PlaylistSongForm from '../playlist-song-form/PlaylistSongForm.svelte';

  import type { DndEvent } from 'svelte-dnd-action';

  const flipDurationMs = 300;

  interface Props {
    songs?: SongType[];
  }

  let { songs = $bindable([]) }: Props = $props();

  let choices = $derived(songs.filter((s) => s.position));
  let wishes = $derived(songs.filter((s) => !s.position));

  function onFinalize(e: CustomEvent<DndEvent<SongType>>) {
    setSongs({ choices: e.detail.items });
  }

  function setSongs(
    detail:
      | { choices: SongType[]; wishes?: SongType[] }
      | { choices?: SongType[]; wishes: SongType[] }
  ) {
    songs = [
      ...(detail.choices
        ? detail.choices.map((item, index) => ({
            ...item,
            position: index + 1
          }))
        : choices),
      ...(detail.wishes ?? wishes)
    ];
  }

  function findSongById(arr: SongType[], id: number) {
    const currIndex = arr.findIndex((arr) => arr.id === id);
    if (currIndex < 0) {
      throw Error(`song id:"${id}" not found}`);
    }

    return currIndex;
  }

  function onPositionChange({
    id,
    position
  }: ComponentEventArgs<typeof PlaylistSongForm, 'onPositionChange'>) {
    const currIndex = findSongById(choices, id);

    const newChoices = [...choices];
    const item = newChoices.splice(currIndex, 1)[0];
    if (!position) {
      setSongs({
        choices: newChoices,
        wishes: sortBy([...wishes, omit(item, 'position')], 'title')
      });
    } else {
      newChoices.splice(position - 1, 0, item);
      setSongs({ choices: newChoices });
    }
  }

  function onWishPositionChange({
    id,
    position
  }: ComponentEventArgs<typeof PlaylistSongForm, 'onPositionChange'>) {
    if (!position) {
      return;
    }

    const currIndex = findSongById(wishes, id);

    const newWishes = [...wishes];
    const item = newWishes.splice(currIndex, 1)[0];
    const newChoices = [...choices];
    newChoices.splice(position - 1, 0, { ...item, position });

    setSongs({ choices: newChoices, wishes: newWishes });
  }

  function getOption(index: number): Option<number> {
    return {
      label: index > -1 ? `${index + 1}` : '-',
      value: index + 1
    };
  }

  function onWishDelete(
    detail: ComponentEventArgs<typeof PlaylistSongForm, 'onDelete'>
  ) {
    if (!detail.id) {
      throw new Error('missing song id for delete');
    }
    const index = findSongById(wishes, detail.id);
    const newWishes = [...wishes];
    newWishes.splice(index, 1);
    setSongs({
      wishes: newWishes
    });
  }

  function onSongDelete(
    detail: ComponentEventArgs<typeof PlaylistSongForm, 'onDelete'>
  ) {
    if (!detail.id) {
      throw new Error('missing song id for delete');
    }

    const index = findSongById(choices, detail.id);
    const newChoices = [...choices];
    const { position, ...wish } = newChoices.splice(index, 1)[0];
    setSongs({
      choices: newChoices,
      wishes: [wish, ...wishes]
    });
  }

  // TODO move this in section songs footer
  let nbChoicesAvailable = $derived(choices.filter((s) => s.fileId).length);
  let nbWishesAvailable = $derived(wishes.filter((s) => s.fileId).length);
  let totalSongs = $derived(
    choices.length === nbChoicesAvailable
      ? $_('playlist.songsTotal').replace('%TOTAL%', `${choices.length}`)
      : $_('playlist.songsTotalAvailable')
          .replace('%TOTAL%', `${choices.length}`)
          .replace('%TOTAL_AVAILABLE%', `${nbChoicesAvailable}`)
  );
  let totalWishes = $derived(
    wishes.length === nbWishesAvailable
      ? $_('playlist.wishesTotal').replace('%TOTAL%', `${wishes.length}`)
      : $_('playlist.wishesTotalAvailable')
          .replace('%TOTAL%', `${wishes.length}`)
          .replace('%TOTAL_AVAILABLE%', `${nbWishesAvailable}`)
  );

   
  let positionOptions = $derived(choices.map((_, index) => getOption(index)));

  let choicesPositionOptions = $derived([getOption(-1), ...positionOptions]);
  let wishesPositionOptions = $derived([
    ...positionOptions,
    getOption(positionOptions.length)
  ]);
</script>

<SectionSongs title={$_('playlist.section.songs.title')}>
  {#snippet footer()}
    <div>
      {#if songs.length}
        <div class="text-right text-muted mt-3">
          {totalSongs}
        </div>
      {:else}
        <div class="text-center text-muted">
          {$_('playlist.section.songs.empty')}
        </div>
      {/if}
    </div>
  {/snippet}

  <div
    class="list-group list-group-flush"
    onconsider={onFinalize}
    onfinalize={onFinalize}
    use:dndzone={{
      items: choices,
      flipDurationMs,
      dropTargetStyle: { outline: 'transparent' }
    }}
  >
    {#each choices as item (item.id)}
      <div
        class="item"
        animate:flip={{ duration: flipDurationMs }}
      >
        <PlaylistSongForm
          {item}
          positionOptions={choicesPositionOptions}
          {onPositionChange}
          onDelete={onSongDelete}
        />
      </div>
    {/each}
  </div>
</SectionSongs>

<SectionSongs title={$_('playlist.section.wishes.title')}>
  {#snippet footer()}
    <div>
      {#if wishes.length}
        <div class="text-right text-muted mt-3">
          {totalWishes}
        </div>
      {:else}
        <div class="text-center text-muted">
          {$_('playlist.section.wishes.empty')}
        </div>
      {/if}
    </div>
  {/snippet}
  <List
    indexKey="id"
    items={wishes}
  >
    {#snippet children({ item })}
      <PlaylistSongForm
        {item}
        positionOptions={wishesPositionOptions}
        onPositionChange={onWishPositionChange}
        onDelete={onWishDelete}
      />
    {/snippet}
  </List>
</SectionSongs>

<style>
  .item:focus-visible {
    outline: transparent;
  }
</style>
