<script lang="ts">
  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import IconHover from '$lib/ui/atoms/icon-hover/IconHover.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';

  interface Events {
    onChange: (args: Props) => void;
    onSelect: (args: Props) => void;
  }

  interface Props {
    id?: number;
    fullpath?: string;
    name: string;
    type: string;
    updated?: string;
    display?: boolean;
    isA3?: boolean;
    label?: string;
    selected?: boolean;
  }

  let {
    id,
    fullpath = undefined,
    name,
    type,
    updated = undefined,
    display = false,
    isA3 = false,
    label = '',
    selected = false,
    onChange,
    onSelect
  }: Props & Events = $props();

  function getProps() {
    return {
      id,
      fullpath,
      name,
      type,
      updated,
      display,
      isA3,
      label,
      selected
    };
  }

  function handleSelect() {
    onSelect(getProps());
  }

  function sendChangeEvent(
    rest: { isA3?: boolean; label?: string; display?: boolean } = {}
  ) {
    onChange({
      ...getProps(),
      ...rest,
      label: rest.isA3 ? 'A3' : label
    });
  }

  function onChangeFormat() {
    const value = !isA3;
    sendChangeEvent({
      isA3: value,
      label: value ? 'A3' : ''
    });
  }

  function onDisplay() {
    sendChangeEvent({ display: !display });
  }
</script>

<div class="link">
  <div class="rating">
    <IconHover
      {selected}
      onClick={handleSelect}
    />
  </div>
  <Link
    href={fullpath}
    blank
  >
    <span>{name}.{type}</span>
  </Link>
  <div class="status">
    <TextField
      class="mb-0 mr-3"
      disabled={isA3}
      placeholder="label"
      right
      small
      bind:value={label}
      onChange={() => sendChangeEvent()}
    />
    <IconHover
      name="eye"
      class="mr-3"
      color="#20c997"
      offColor="grey"
      offName="eyeOff"
      selected={display}
      onClick={onDisplay}
    />
    <button
      class="btn btn-sm btn-outline-info"
      class:active={isA3}
      type="button"
      onclick={onChangeFormat}
    >
      A3
    </button>
  </div>
  {#if updated}
    <LastUpdate value={updated} />
  {:else}
    <Caption>new</Caption>
  {/if}
</div>

<style>
  .link {
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rating {
    flex-shrink: 0;
    margin-right: 5px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .rating :global(span) {
    margin-top: -2px;
    width: 20px;
    height: 20px;
    display: block;
  }

  .status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
    flex-grow: 1;
  }

  .status > * {
    margin-left: 20px;
  }
</style>
