<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';

  import { getVideoPreviewLink } from './utils';

  interface Props {
    link: string;
    title?: string;
  }

  let { link, title = '' }: Props = $props();
  let loaded = $state(false);

  function onLoad() {
    loaded = true;
  }

  const preview = getVideoPreviewLink(link);
</script>

<div class="iframe d-flex align-items-stretch">
  {#if preview}
    <iframe
      class:hidden={!loaded}
      frameborder="0"
      onload={onLoad}
      src={preview}
      {title}
    ></iframe>
  {/if}
  {#if !preview || !loaded}
    <Link
      href={link}
      blank
    >
      <div class="position-relative">
        <div class="bg"></div>
        <div class="content d-flex align-items-center justify-content-center">
          {#if preview}
            <div
              class="spinner-border text-primary"
              class:hidden={loaded}
            >
              <span class="sr-only">Loading...</span>
            </div>
          {:else}
            <span>
              <Icon
                name="youtube"
                large
              />
            </span>
          {/if}
        </div>
      </div>
    </Link>
  {/if}
</div>

<style>
  .iframe,
  .content {
    width: 300px;
    height: 150px;
    position: relative;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    opacity: 0.5;
  }

  span {
    color: red;
  }

  .hidden {
    display: none;
  }
</style>
