<script lang="ts">
  import AppLink from '$lib/ui/molecules/app-link/AppLink.svelte';
  import { getPreviewImage } from '$lib/ui/molecules/youtube-preview/utils';

  interface Props {
    youtube?: string | undefined;
    file?: string | undefined;
    medium?: boolean;
    isA3?: number;
  }

  let {
    youtube = undefined,
    file = undefined,
    medium = false,
    isA3 = 0
  }: Props = $props();

  let displayPreview = $state(false);
  function showPreview() {
    displayPreview = true;
  }

  function hidePreview() {
    displayPreview = false;
  }

  let previewYt = $derived(youtube ? getPreviewImage(youtube) : null);
</script>

<div
  class="details d-flex align-items-end flex-row"
  class:medium
>
  <div
    class="badge badge-secondary align-self-center badge-pill"
    class:invisible={!isA3}
    class:d-sm-block={!isA3}
    class:d-none={!isA3}
  >
    A3
  </div>
  <div
    class="youtube"
    class:invisible={!youtube}
  >
    {#if previewYt && displayPreview}
      <div class="preview">
        <img
          class="w-100"
          alt="preview"
          src={previewYt}
        />
      </div>
    {/if}
    <AppLink
      href={youtube ?? ''}
      {medium}
      onMouseover={showPreview}
      onMouseout={hidePreview}
    />
  </div>
  <div class:invisible={!file}>
    <AppLink
      href={file ?? ''}
      {medium}
    />
  </div>
</div>

<style>
  .details > div {
    display: flex;
    font-size: 0.61em;
    line-height: 1;
    min-width: 20px;
    margin-right: 2px;
    text-align: center;
  }

  .youtube {
    position: relative;
  }

  .preview {
    position: absolute;
    top: -5px;
    left: -45px;
    width: 45px;
  }

  .medium .preview {
    top: 0;
  }

  .details > div.badge {
    font-size: 0.65rem;
    opacity: 0.6;
  }

  .details.medium > div.badge {
    font-size: 0.8rem;
  }
</style>
