<script lang="ts">
  import SongLinks from './SongLinks.svelte';

  import type { ComponentProps } from 'svelte';
  let props: ComponentProps<typeof SongLinks> = $props();
</script>

<div class="d-flex justify-content-center mt-3">
  <SongLinks {...props} />
</div>
