<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import Link from '$lib/ui/molecules/app-link/base/BaseLink.svelte';

  import type { AppLinkComponentProps } from '../types';

  type Props = AppLinkComponentProps;

  let { href, color = '#8841a6', medium = false, ...rest }: Props = $props();
</script>

<Link
  {...rest}
  {color}
  {href}
>
  <Icon
    name="instagram"
    {medium}
  />
</Link>
