<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import Link from '$lib/ui/molecules/app-link/base/BaseLink.svelte';

  import type { AppLinkComponentProps } from '../types';

  type Props = AppLinkComponentProps;

  let {
    href,
    color = 'red',
    medium = false,
    large = false,
    ...rest
  }: Props = $props();
</script>

<Link
  {...rest}
  {color}
  {href}
>
  <span>
    <Icon
      name="youtube"
      {large}
      {medium}
    />
  </span>
</Link>
