<script lang="ts">
  import { icons, isIconName } from './constants';

  interface Props {
    name?: string;
    small?: boolean;
    medium?: boolean;
    large?: boolean;
    noHover?: boolean;
  }

  let {
    name = '',
    small = false,
    medium = false,
    large = false,
    noHover = false
  }: Props = $props();
</script>

<span
  class="d-flex align-items-center"
  class:hover={!noHover}
  class:lg={large}
  class:md={medium}
  class:small
>
  {#if isIconName(name)}
    {@const SvelteComponent = icons[name]}
    <SvelteComponent />
  {:else}
    {@const SvelteComponent_1 = icons['help']}
    <SvelteComponent_1 />
  {/if}
</span>

<style>
  span {
    opacity: 0.75;
    display: block;
    width: 20px;
    height: 20px;
  }

  span.hover:hover {
    opacity: 1;
  }

  .small {
    width: 15px;
    height: 15px;
  }

  .md {
    width: 30px;
    height: 30px;
  }

  .lg {
    width: 50px;
    height: 50px;
  }
</style>
