<script lang="ts">
  import List from '$lib/ui/atoms/list/List.svelte';
  import SectionTitle from '$lib/ui/atoms/section-title/SectionTitle.svelte';
  import SongLinks from '$lib/ui/molecules/song-links/SongLinks.svelte';
  import type { Song } from '$lib/types';

  interface Props {
    section?: string;
    items?: Song[];
  }

  let { section = '', items = [] }: Props = $props();
</script>

<div class="section py-1 px-1 m-auto col col-sm-10">
  <SectionTitle>
    <span>{section.toUpperCase()}</span>
  </SectionTitle>

  <List {items}>
    {#snippet children({ item })}
      <a
        class="list-group-item list-group-item-action py-1 px-1 d-flex"
        href={item.href}
      >
        <div class="title text-primary text-truncate flex-grow-1">
          <span>{item.title}</span>
          {#if item.artist}
            <span class="text-muted">{item.artist}</span>
          {/if}
        </div>

        <SongLinks
          file={item.file?.fullpath}
          youtube={item.link}
        />
      </a>
    {/snippet}
  </List>
</div>

<style>
  .section {
    max-width: 700px;
  }

  .title {
    overflow: hidden;
    flex-grow: 1;
  }

  a {
    cursor: pointer;
  }
</style>
