<script lang="ts">
  interface Props {
    label?: string | undefined;
    error?: string | undefined;
    id?: string | undefined;
    children?: import('svelte').Snippet;
    [key: string]: any;
  }

  let {
    label = undefined,
    error = undefined,
    id = undefined,
    children,
    ...rest
  }: Props = $props();

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

  const { class: className } = rest;
</script>

<div class={`${className} form-group`}>
  {#if label}
    <!-- eslint-disable svelte/no-at-html-tags -->
    <label
      class="w-100"
      for={id}>{@html label}</label
    >
    <!-- eslint-enable svelte/no-at-html-tags -->
  {/if}
  {@render children?.()}
  {#if error}
    <!-- eslint-disable-next-line svelte/no-at-html-tags -->
    <div class="invalid-feedback">{@html error}</div>
  {/if}
</div>

<style>
  .invalid-feedback {
    display: block;
  }
</style>
