<script lang="ts">
  interface Props {
    title: string;
    step: number | string;
    active?: boolean;
    children?: import('svelte').Snippet;
  }

  let { title, step, active = false, children }: Props = $props();

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }
</script>

<li class="list-group-item">
  <h4 class="h4 d-flex align-items-center">
    <div
      class="btn rounded-circle"
      class:btn-primary={active}
      class:btn-secondary={!active}
    >
      {step}
    </div>
    <span class="pl-2">{title}</span>
  </h4>
  <div class="ml-3 border-left">
    {@render children?.()}
  </div>
</li>
