<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import type { Dispatcher } from '$lib/ui/types';

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

  interface $$Events {
    click: CustomEvent<string | number>;
  }

  const dispatch = createEventDispatcher<Dispatcher<$$Events>>();

  interface Props {
    title: string;
    step: string | number;
    active?: boolean;
    tabindex?: number | undefined;
    children?: import('svelte').Snippet;
  }

  let {
    title,
    step,
    active = false,
    tabindex = undefined,
    children
  }: Props = $props();

  function onClick() {
    dispatch('click', step);
  }
</script>

<li class="list-group-item">
  <div
    onclick={onClick}
    onkeydown={onClick}
    role="button"
    {tabindex}
  >
    <h4 class="h4 d-flex align-items-center">
      <div
        class="btn rounded-circle"
        class:btn-primary={active}
        class:btn-secondary={!active}
      >
        {step}
      </div>
      <span
        class="pl-2"
        class:text-primary={active}
        class:text-secondary={!active}
      >
        {title}
      </span>
    </h4>
  </div>
  {#if active}
    <div class="ml-3 border-left">
      {@render children?.()}
    </div>
  {/if}
</li>

<style>
  h4 {
    cursor: pointer;
  }
</style>
