<script lang="ts">
  import { _ } from 'svelte-i18n';

  import { page } from '$app/state';
  import { goto } from '$app/navigation';

  import haveError from '$lib/controllers/song/haveError';
  import Song from '$lib/ui/pages/song/Song.svelte';
  import post from '$lib/utils/post';
  import { loadArtists, loadAuthors } from '$lib/views/song/autocompletes';
  import { URL_EDIT, API_URL_EDIT } from '$lib/views/song/constants';
  import Headers from '$lib/views/utils/headers/Headers.svelte';
  import type { Song as SongType, PlaylistSong } from '$lib/types';
  import type { ComponentEventArgs } from '$lib/ui/types';

  import type { PageData } from './$types';

  interface Props {
    data: PageData;
  }

  let { data }: Props = $props();
  let errors: Record<string, string> | undefined = $state();
  let saving = $state(false);
  let { categories, song } = $state(data);

  type SongData = Omit<SongType, 'href'>;

  function onSave(detail: ComponentEventArgs<typeof Song, 'onSubmit'>) {
    const songToSave = {
      ...(song ?? { id: 0 }),
      ...detail
    };

    const formErrors = haveError(songToSave);
    if (formErrors) {
      errors = formErrors;
      return;
    }

    saving = true;
    post<
      SongType & { playlists: PlaylistSong[] },
      Omit<SongData, 'href' | 'category'>
    >(API_URL_EDIT.replace('#ID#', `${songToSave.id}`), songToSave)
      .then((res) => {
        saving = false;
        if (!song?.id) {
          goto(URL_EDIT.replace('#ID#', `${res.id}`), { replaceState: true });
          return;
        }

        song = res;
      })
      .catch((e) => {
        saving = false;
        errors = e;
      });
  }

  function onCancel() {
    window.history.back();
  }

  function getTitle(song: SongType) {
    if (!song.artist) {
      return song.title;
    }

    return song.title + ' - ' + song.artist;
  }

  const { data: pageData } = page;

  let htmlTitle = $derived(
    (song ? getTitle(song) : $_('song.add')) + ' - ' + $_('site.title')
  );
  let logged = $derived(!!page.data.session?.id);
</script>

<Headers
  description={$_('headers.song')}
  path={URL_EDIT.replace('#ID#', `${song?.id}`)}
  title={htmlTitle}
/>

<Song
  {categories}
  defaultAuthor={pageData.session?.name}
  edit={logged}
  {errors}
  {loadArtists}
  {loadAuthors}
  {saving}
  {song}
  {onCancel}
  onSubmit={onSave}
/>
