<script lang="ts">
  import FileUpload from '$lib/ui/atoms/file-upload/FileUpload.svelte';
  import Avatar from '$lib/ui/molecules/avatar/Avatar.svelte';

  import type { ComponentProps } from 'svelte';

  interface Props extends Pick<ComponentProps<typeof FileUpload>, 'onChange'> {
    src?: string | undefined;
    file?: { name: string } | undefined;
  }

  let { src = undefined, file = undefined, onChange }: Props = $props();

  let label = $derived(file ? "remplacer l'image" : 'ajouter une image');
</script>

<div class="d-flex flex-column align-items-center text-truncate">
  <Avatar {src} />
  {#if file && file.name}
    <p class="text-muted text-center mb-0">{file.name}</p>
  {:else if src}
    <a
      class="text-center text-truncate"
      href={src}
      rel="noreferrer noopener"
      target="_blank"
    >
      {src.replace(/^.+\/([^/.]+)\.[^.]+$/, '$1')}
    </a>
  {/if}
  <div class="text-center mt-2">
    <FileUpload
      accept="image/*"
      {label}
      {onChange}
    />
  </div>
</div>

<style>
  a {
    max-width: 200px;
  }
</style>
