<script lang="ts">
  import Default from './default/DefaultLink.svelte';
  import Facebook from './facebook/FacebookLink.svelte';
  import Gitlab from './gitlab/GitlabLink.svelte';
  import Instagram from './instagram/InstagramLink.svelte';
  import Soundcloud from './soundcloud/SoundcloudLink.svelte';
  import Youtube from './youtube/YoutubeLink.svelte';

  import type { AppLinkComponentProps } from './types';
  import type { Component } from 'svelte';

  type Props = AppLinkComponentProps;

  const components: Record<string, Component<AppLinkComponentProps>> = {
    youtube: Youtube,
    facebook: Facebook,
    gitlab: Gitlab,
    soundcloud: Soundcloud,
    instagram: Instagram
  };
  const appNames = Object.keys(components);

  let {
    href,
    color = undefined,
    medium = false,
    onMouseout,
    onMouseover
  }: Props = $props();

  function getComponent(href: string): Component<AppLinkComponentProps> {
    const foundComponent = appNames.find((appName) =>
      new RegExp(`^https?://[^/]*${appName}`, 'i').test(href)
    );

    return foundComponent ? components[foundComponent] : Default;
  }

  const AppComponent = $state(getComponent(href));
</script>

<AppComponent
  {color}
  {href}
  {medium}
  {onMouseover}
  {onMouseout}
/>
