<script lang="ts">
  import AppLink from './AppLink.svelte';

  interface Props {
    links?: string[];
    white?: boolean;
    [key: string]: any;
  }

  let { links = [], white = false, ...rest }: Props = $props();
</script>

<div
  class="p-4"
  class:white
>
  {#each links as href (href)}
    <div class="d-inline-block content mx-2">
      <AppLink
        color={white ? 'white' : undefined}
        {href}
        {...rest}
      />
    </div>
  {/each}
</div>

<style>
  .white {
    background-color: grey;
  }

  .content {
    width: 28px;
    height: 28px;
  }
</style>
