<script lang="ts">
  import { _ } from 'svelte-i18n';

  import CancelButton from '$lib/ui/atoms/buttons/cancel/CancelButton.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import List from '$lib/ui/atoms/list/List.svelte';
  import SectionTitle from '$lib/ui/atoms/section-title/SectionTitle.svelte';
  import OrderListItem from '$lib/ui/molecules/order-list-item/OrderListItem.svelte';
  import YoutubePreview from '$lib/ui/molecules/youtube-preview/YoutubePreview.svelte';
  import type { PlaylistSong, SongFile } from '$lib/types';

  interface File extends SongFile {
    isA3?: number;
    label?: string;
  }

  interface Props {
    title?: string;
    artist?: string;
    link?: string;
    level?: number | undefined;
    category?: string;
    updated?: Date | string | undefined;
    file?: File | undefined;
    files?: File[];
    playlists?: PlaylistSong[];
    onCancel: () => void;
  }

  let {
    title = '',
    artist = '',
    link = '',
    level = undefined,
    category = '',
    updated = undefined,
    file = undefined,
    files = [],
    playlists = [],
    onCancel
  }: Props = $props();
</script>

<div class="d-flex flex-column align-items-center">
  <div class="m-3">
    <SectionTitle>
      <span>{title}</span>
    </SectionTitle>

    {#if artist}
      <h2 class="h3 text-info text-center">{artist}</h2>
    {/if}
  </div>

  <div class="item detail mb-4">
    <span>{category}</span>
    {#if level}
      <span>{$_('song.level')}: {level}</span>
    {/if}
  </div>

  <div class="item flex-column align-items-center">
    {#if file}
      <a
        class="btn btn-primary mb-3"
        href={file.fullpath}
        rel="noopener noreferrer"
        target="_blank"
      >
        {$_('song.download')}
        {file.isA3 ? '( A3 )' : ''}
      </a>
    {/if}
  </div>
  {#if files && files.length}
    <div class="item">
      {#each files as f (f.fullpath)}
        <a
          class="btn btn-secondary btn-sm m-2"
          href={f.fullpath}
          rel="noopener noreferrer"
          target="_blank"
        >
          {$_('song.download')}
          {f.label && `( ${f.label} )`}
        </a>
      {/each}
    </div>
  {/if}

  {#if link}
    <div class="item">
      <YoutubePreview {link} />
    </div>
  {/if}

  <div class="item">
    <LastUpdate value={updated} />
  </div>

  {#if playlists && playlists.length}
    <div class="item-stretch">
      <List items={playlists}>
        {#snippet children({ item })}
          <OrderListItem {...item} />
        {/snippet}
      </List>
    </div>
  {/if}

  <div class="mt-5">
    <CancelButton onClick={onCancel}>
      {$_('common.back')}
    </CancelButton>
  </div>
</div>

<style>
  .item,
  .item-stretch {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .item-stretch {
    align-self: stretch;
  }

  .detail > span {
    text-align: center;
    margin: 0 10px;
  }
</style>
