<script lang="ts">
  import { preventDefault } from '$lib/ui/helpers';

  import type { Snippet } from 'svelte';

  interface Props {
    asc?: boolean;
    sorted?: boolean;
    center?: boolean;
    onClick?: (args: { asc: boolean; sorted: boolean }) => void;
    children?: Snippet;
  }

  let {
    asc = true,
    sorted = false,
    center = false,
    children,
    onClick
  }: Props = $props();

  const handleClick = onClick
    ? preventDefault(() => onClick({ asc, sorted }))
    : undefined;
</script>

<th
  class:text-center={center}
  onclick={handleClick}
  scope="col"
>
  <div>
    {@render children?.()}
    {#if sorted}
      <span
        class="ion"
        class:ion-md-arrow-dropdown={asc}
        class:ion-md-arrow-dropup={!asc}
      ></span>
    {/if}
  </div>
</th>

<style>
  th {
    cursor: pointer;
  }

  div {
    position: relative;
    padding-right: 10px;
  }

  span {
    position: absolute;
    right: 0;
    top: 3px;
  }
</style>
