<script lang="ts">
  import { enhance } from '$app/forms';
  import { goto, invalidateAll } from '$app/navigation';
  import { page } from '$app/state';

  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  import type { ActionResult } from '@sveltejs/kit';

  let errors: Record<string, string> | undefined = $state();

  const { data } = page;

  async function onSubmit() {
    return async ({ result }: { result: ActionResult }) => {
      if (result.type !== 'success') {
        errors = { Sorry: 'this is not possible' };
        return;
      }
      await invalidateAll();
      goto('/auth/login');
    };
  }
</script>

<svelte:head>
  <title>Settings</title>
</svelte:head>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Your Settings</h1>

        <TextField
          name="email"
          label="email"
          type="text"
          value={data.session.email}
        />
        <TextField
          name="name"
          label="name"
          type="text"
          value={data.session.name}
        />

        <hr />

        <form
          method="POST"
          use:enhance={onSubmit}
        >
          <button
            class="btn btn-outline-danger"
            type="submit"
          >
            click here to logout.
          </button>

          {#if errors}
            <Errors {errors} />
          {/if}
        </form>
      </div>
    </div>
  </div>
</div>
