<script lang="ts">
  import { _ } from 'svelte-i18n';
  import omit from 'lodash/omit';

  import haveError from '$lib/controllers/song/haveError';
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import YoutubeField from '$lib/ui/atoms/fields/youtube/YoutubeField.svelte';
  import FileUpload from '$lib/ui/atoms/file-upload/FileUpload.svelte';
  import Link from '$lib/ui/atoms/link/Link.svelte';
  import Actions from '$lib/ui/molecules/actions/Actions.svelte';
  import AvatarForm from '$lib/ui/organisms/form/avatar/AvatarForm.svelte';
  import PlaylistSongsForm from '$lib/ui/organisms/form/playlist-songs-form/PlaylistSongsForm.svelte';
  import Wish from '$lib/ui/organisms/form/wish/Wish.svelte';
  import { findBySong } from '$lib/ui/pages/playlist/findBySong';
  import { uploadFile as uploadSongFile } from '$lib/ui/pages/song/utils';
  import post from '$lib/utils/post';
  import uploadFile from '$lib/utils/uploadFile';
  import { API_URL_EDIT } from '$lib/views/song/constants';
  import type {
    PlaylistFile,
    Song as SongType,
    Image,
    SongFile,
    SongData
  } from '$lib/types';
  import type {
    ComponentEventArgs,
    FnAutoComplete,
    Option
  } from '$lib/ui/types';

  import SongForm from '../song/SongForm.svelte';

  type WishType = SongType & { unsaved?: boolean };

  interface Events {
    onSubmit: (args: {
      name: string;
      image: Image;
      file?: PlaylistFile;
      songs: SongType[];
      playlist: string;
    }) => void;
    onCancel: () => void;
  }
  interface Props extends Events {
    name?: string;
    image?: Image;
    playlist?: string;
    songs?: SongType[];
    file?: PlaylistFile;
    errors?: Record<string, string> | undefined;
    saving?: boolean;
    urlGenerate?: string;
    categories: Option[];
    loadWishes: FnAutoComplete<SongType>;
    loadArtists: FnAutoComplete;
    loadAuthors: FnAutoComplete;
  }

  let {
    name = '',
    image = undefined,
    playlist = '',
    songs = [],
    file = undefined,
    errors = undefined,
    saving = false,
    urlGenerate = undefined,
    categories,
    loadWishes,
    loadArtists,
    loadAuthors,
    onSubmit,
    onCancel
  }: Props = $props();

  let wishSelectError: string | undefined = $state(undefined);
  let addingSongErrors: Record<string, string> | undefined = $state(undefined);
  let addingSongSaving: boolean = $state(false);

  function handleSubmit() {
    onSubmit({
      name,
      image,
      playlist,
      file,
      songs
    });
  }

  let wishAdding = $state(false);

  function hideWishForm() {
    wishAdding = false;
  }

  function displayWishForm() {
    wishAdding = true;
  }

  async function onAddImage(
    detail: ComponentEventArgs<typeof AvatarForm, 'onChange'>
  ) {
    const { file: detailFile } = detail;
    if (!detailFile) {
      return;
    }

    const { file } = await uploadFile({ file: detailFile });
    image = {
      ...image,
      file
    };
  }

  async function onUploadFile(detail: { file: File }) {
    ({ file } = await uploadFile(detail));
  }

  function isDupicateWish(song: SongType) {
    if (!songs?.length) {
      return false;
    }
    const found = songs?.findIndex(findBySong(song));

    if (found > -1) {
      return $_('playlist.errors.duplicate');
    }

    return false;
  }

  function getSongFullPath(song: SongType) {
    if (!song.fileId || !song.files?.length) {
      return undefined;
    }
    const file: SongFile | undefined = song.files.find(
      (f) => f.id === song.fileId
    );

    return file ? file.fullpath : undefined;
  }

  function addWish(song: SongType) {
    const wish: WishType = {
      ...song,
      unsaved: true,
      fullpath: getSongFullPath(song)
    };

    songs = [...(songs || []), wish];
    wishSelectError = undefined;
  }

  function onSelectWish(detail: Option) {
    const song = detail.value as unknown as SongType;
    const error = isDupicateWish(song);
    if (error) {
      wishSelectError = error;
      return;
    }
    addWish(song);
  }

  function onAddSong(detail: ComponentEventArgs<typeof SongForm, 'onSubmit'>) {
    const formErrors = haveError(detail);
    if (formErrors) {
      addingSongErrors = formErrors;
      return;
    }

    addingSongSaving = true;
    post<SongType, SongData>(API_URL_EDIT.replace('#ID#', '0'), detail)
      .then((res) => {
        addingSongSaving = false;
        addingSongErrors = undefined;
        songs = [...(songs || []), res];
        hideWishForm();
      })
      .catch((e) => {
        addingSongSaving = false;
        addingSongErrors = e;
      });
  }

  const accept = 'application/pdf';

  const listErrors = $derived(omit(errors, ['name', 'image', 'playlist']));
</script>

<div class="container mb-5">
  {#if Object.keys(listErrors).length}
    <Errors errors={listErrors} />
  {/if}

  <Actions
    {saving}
    onSubmit={handleSubmit}
    {onCancel}
  />

  <div class="d-flex flex-column flex-md-row mb-3">
    <div class="overflow-hidden">
      <AvatarForm
        onChange={onAddImage}
        {...image}
      />
    </div>

    <div class="form d-flex flex-column align-items-stretch flex-grow-1">
      <TextField
        name="name"
        error={errors?.name}
        label={$_('playlist.date')}
        placeholder={$_('playlist.placeholder.date')}
        bind:value={name}
      />
      <YoutubeField
        name="playlist"
        error={errors?.playlist}
        label={$_('playlist.playlist')}
        placeholder={$_('playlist.placeholder.playlist')}
        bind:value={playlist}
      />

      <div class="d-flex justify-content-between align-items-center">
        {#if urlGenerate}
          <Link
            class="btn btn-outline-info"
            href={urlGenerate}
          >
            Générer la liste
          </Link>
        {/if}
        <div class="d-flex align-items-center justify-content-end flex-grow-1">
          {#if file && file.name}
            <Link
              class="mr-2"
              href={file.fullpath}
              blank>{file.name}</Link
            >
          {/if}
          <FileUpload
            {accept}
            onChange={onUploadFile}
          />
        </div>
      </div>
    </div>
  </div>

  <PlaylistSongsForm bind:songs />

  {#if wishAdding}
    <SongForm
      {categories}
      errors={addingSongErrors}
      isSaving={addingSongSaving}
      {loadArtists}
      {loadAuthors}
      uploadFile={uploadSongFile}
      onCancel={hideWishForm}
      onSubmit={onAddSong}
    />
  {:else}
    <Wish
      error={wishSelectError}
      {loadWishes}
      placeholder={$_('song.add')}
      onSelect={onSelectWish}
      onAdd={displayWishForm}
    />
  {/if}
</div>

<style>
  .form {
    margin-left: 20px;
    margin-bottom: 10px;
  }
</style>
