<script lang="ts">
  import { _ } from 'svelte-i18n';

  import Caption from '$lib/ui/atoms/caption/Caption.svelte';
  import LastUpdate from '$lib/ui/atoms/last-update/LastUpdate.svelte';
  import SongTitle from '$lib/ui/molecules/title/Title.svelte';
  import type { SongFile as SongFileType } from '$lib/types';

   

  interface Props {
    title: string;
    artist?: string;
    category?: string;
    updated?: Date | string | undefined;
    files?: SongFileType[];
    level?: number | undefined;
    href?: string;
    compact?: boolean;
  }

  let {
    title,
    artist = '',
    category = '',
    updated = '',
    files = [],
    level = undefined,
    href = '',
    compact = false
  }: Props = $props();
</script>

<a
  class="list-group-item list-group-item-action py-2 px-3"
  class:compact
  data-cy="list-song-item"
  {href}
>
  <div class="row align-items-center">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8">
      <SongTitle
        {href}
        subtitle={artist}
        {title}
      />
    </div>

    <div class="details col-12 col-md-6 col-lg-5 col-xl-4">
      <div class="row">
        <div class="col-8 col-md-7 text-truncate">
          <Caption>{category}</Caption>
        </div>
        <div class="col text-right">
          <LastUpdate value={updated} />
        </div>
      </div>

      <div class="row">
        {#if level}
          <div class="col">
            <Caption>{$_('song.level')}: {level}</Caption>
          </div>
        {/if}
        {#if files && files.length}
          <div class="col text-right">
            <Caption
              >{$_(`song.file${files.length > 1 ? 's' : ''}`).replace(
                '%TOTAL%',
                `${files.length}`
              )}</Caption
            >
          </div>
        {/if}
      </div>
    </div>
  </div>
</a>

<style>
  .list-group-item {
    min-height: 66px;
  }

  .compact .details {
    display: none;
  }
</style>
