<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';
  import AutoComplete from '$lib/ui/molecules/auto-complete/AutoComplete.svelte';
  import type { Song } from '$lib/types';
  import type { FnAutoComplete, Option } from '$lib/ui/types';

  interface Props {
    label?: string;
    placeholder?: string;
    error?: string | undefined;
    value?: string;
    // events
    loadWishes: FnAutoComplete<Song>;
    onSelect: (option: Option) => void;
    onAdd: () => void;
  }

  let {
    label = '',
    placeholder = '',
    error = undefined,
    value = $bindable(''),
    loadWishes,
    onSelect,
    onAdd
  }: Props = $props();

  function handleSelect(option: Option) {
    onSelect(option);
    value = '';
  }
</script>

<div
  class="d-flex justify-content-around"
  data-cy="wish"
>
  <div class="autocomplete mr-2">
    <AutoComplete
      {error}
      {label}
      loadOptions={loadWishes}
      {placeholder}
      bind:value
      onSelect={handleSelect}
    />
  </div>

  <div>
    <button
      class="btn btn-primary"
      onclick={onAdd}
      type="button"
    >
      <Icon name="add" />
    </button>
  </div>
</div>

<style>
  .autocomplete {
    flex-grow: 1;
  }
</style>
