<script
  lang="ts"
  generics="T extends Record<string, unknown>"
>
  import type { Snippet } from 'svelte';

  let {
    items,
    indexKey = undefined,
    children
  }: {
    items: T[];
    indexKey?: keyof T | undefined;
    children?: Snippet<[{ item: T }]>;
  } = $props();
</script>

{#if items.length}
  <div class="list-group list-group-flush">
    {#each items as item, index (indexKey ? item[indexKey] : index)}
      {@render children?.({ item })}
    {/each}
  </div>
{/if}

<style>
  div {
    width: 100%;
  }
</style>
