<script lang="ts">
  import SearchList from './SearchList.svelte';

  import type { ComponentProps } from 'svelte';

  let { ...props }: ComponentProps<typeof SearchList> = $props();
</script>

<SearchList
  {...props}
  placeholder="placeholder"
  sort="sorted"
>
  <div>default slot content</div>
  {#snippet filter()}
    <div>this is "filter" slot</div>
  {/snippet}
  {#snippet action()}
    <div>
      <button
        class="btn btn-link"
        type="button">on action</button
      >
      <button
        class="btn btn-link"
        type="button">two actions</button
      >
    </div>
  {/snippet}
</SearchList>
