<script
  lang="ts"
  generics="Value = string"
>
  import Search from '$lib/ui/molecules/search/Search.svelte';
  import type { Option } from '$lib/ui/types';

  import type { Snippet } from 'svelte';

  interface Props {
    // search args
    sort: Value;
    sorts?: Option<Value>[];
    search?: string;
    placeholder: string;
    withFilters?: boolean;
    labelTotal?: string;
    labelEmpty?: string;
    total?: number;
    filter?: Snippet;
    action?: Snippet;
    children?: Snippet;
    onSearch: (args: { search: string; sort: Value }) => void;
  }

  let props: Props = $props();
  let {
    sort,
    sorts = [],
    search = '',
    placeholder,
    withFilters = false,
    labelTotal = '',
    labelEmpty = '',
    total = 0,
    filter,
    action,
    children,
    onSearch
  } = props;

  let caption = $derived(
    total ? labelTotal.replace('%TOTAL%', `${total}`) : labelEmpty
  );
</script>

<div class="d-flex flex-column">
  <div class="row my-3">
    <div
      class="col col-sm-8 mx-auto"
      data-cy="list-form-search"
    >
      <Search
        {caption}
        {placeholder}
        {search}
        {sort}
        {sorts}
        {withFilters}
        {onSearch}
      >
        {@render filter?.()}
      </Search>
    </div>
  </div>

  <div
    class="action"
    data-cy="list-actions"
  >
    {@render action?.()}
  </div>

  {@render children?.()}
</div>

<style>
  .action {
    display: flex;
    justify-content: flex-end;
  }
</style>
