<script lang="ts">
  import isArray from 'lodash/isArray';

  import Button from '$lib/ui/atoms/buttons/Button.svelte';
  import Errors from '$lib/ui/atoms/errors/Errors.svelte';
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';

  interface Props {
    errors: undefined | string | string[];
    loading?: boolean;
    password?: string;
    login?: string;
  }

  let {
    errors,
    loading = false,
    password = $bindable(''),
    login = $bindable('')
  }: Props = $props();
</script>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Sign In</h1>

        {#if errors}
          <Errors errors={isArray(errors) ? errors : [errors]} />
        {/if}

        <TextField
          name="login"
          placeholder="email or username"
          type="text"
          required
          bind:value={login}
        />
        <TextField
          name="password"
          placeholder="password"
          type="password"
          required
          bind:value={password}
        />

        <Button
          color="primary"
          {loading}
          type="submit">Sign in</Button
        >
      </div>
    </div>
  </div>
</div>
