<script lang="ts">
  import { _ } from 'svelte-i18n';

  import Th from '$lib/ui/atoms/th/Th.svelte';
  import Wish from '$lib/ui/organisms/form/wish/Wish.svelte';
  import TrSong from '$lib/ui/organisms/table-song-item/TableSongItem.svelte';
  import type { Song } from '$lib/types';
  import type { ComponentEventArgs, FnAutoComplete, Sort } from '$lib/ui/types';

  import { sortSongs } from './sortSongs';

  import type { ComponentProps } from 'svelte';

  interface Props
    extends Pick<ComponentProps<typeof Wish>, 'onSelect' | 'onAdd'>,
      Pick<ComponentProps<typeof TrSong>, 'onDelete' | 'onPositionChange'> {
    songs?: Song[];
    sort?: Sort;
    loadWishes: FnAutoComplete<Song>;
    edition?: boolean | undefined;
    wishError?: string | undefined;
    onSort: (args: Sort & { sorted: boolean }) => void;
  }

  let {
    songs = [],
    sort = { value: 'position', asc: true },
    loadWishes,
    edition = undefined,
    wishError = undefined,
    onSort,
    onSelect,
    onDelete,
    onPositionChange,
    onAdd
  }: Props = $props();

  type Column = {
    value?: string;
    label: string;
    center?: boolean;
  };
  const columnsBase: Column[] = [
    { value: 'position', label: '#', center: true },
    { value: 'songs', label: 'songs', center: true },
    { value: 'author', label: 'author', center: true },
    { value: 'level', label: 'level', center: true },
    { label: '' }
  ];

  function prepareColumns(sort: Sort) {
    return (col: Column) => {
      if (!col.value) {
        return col;
      }
      return {
        ...col,
        sorted: sort.value === col.value,
        asc: sort.asc
      };
    };
  }

  function onTitleSort(value: string) {
    return (detail: ComponentEventArgs<typeof Th, 'onClick'>) => {
      onSort({ ...detail, value });
    };
  }

  let columns = $derived(columnsBase.map(prepareColumns(sort)));
  let rows = $derived(sortSongs(songs, sort));
</script>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      {#each columns as { label, ...col } (label)}
        <Th
          onClick={onTitleSort(col.value ?? '')}
          {...col}
        >
          {#if label}
            {$_(`playlist.songs.${label}`, { default: label })}
          {/if}
        </Th>
      {/each}
    </tr>
  </thead>
  <tbody>
    {#if rows.length}
      {#each rows as song (song.id)}
        <!--  issue with object destructuration -->
        <TrSong
          {...{ ...song, edition }}
          {onDelete}
          {onPositionChange}
        />
      {/each}
    {:else}
      <tr>
        <td
          class="no-result"
          colspan={columns.length}
        >
          {$_('playlist.noWish')}
        </td>
      </tr>
    {/if}
  </tbody>
  {#if edition}
    <tfoot>
      <tr>
        <td colspan={columns.length}>
          <Wish
            error={wishError}
            {loadWishes}
            placeholder={$_('song.add')}
            {onSelect}
            {onAdd}
          />
        </td>
      </tr>
    </tfoot>
  {/if}
</table>

<style>
  .no-result,
  .no-result:hover {
    text-align: center;
    background-color: transparent;
  }
</style>
