<script
  lang="ts"
  generics="Value = string | number"
>
  import BaseField from '$lib/ui/atoms/fields/base/BaseField.svelte';
  import type { Option } from '$lib/ui/types';

  import type { ComponentProps } from 'svelte';

  interface Props extends ComponentProps<typeof BaseField> {
    name?: string;
    value?: Value;
    items: Option[];
    placeholder?: string;
    class?: string;
    onChange?: (args?: Value) => void;
  }

  let {
    label,
    value = $bindable(),
    class: classProps,
    items,
    error,
    placeholder,
    name,
    onChange
  }: Props = $props();

  const handleChange = $derived(onChange ? () => onChange(value) : undefined);

  function handleStopPropagation(e: Event) {
    e.stopPropagation();
  }
</script>

<BaseField
  class={classProps}
  {error}
  {label}
>
  <select
    {name}
    class="form-control"
    class:is-invalid={error}
    {placeholder}
    bind:value
    onchange={handleChange}
    onfocus={handleStopPropagation}
  >
    {#each items as item (item.value)}
      <option value={item.value}>{item.label}</option>
    {/each}
  </select>
</BaseField>

<style>
  select {
    flex-grow: 1;
    font-size: 0.75rem;
  }
</style>
