<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  interface Props {
    accept?: string;
    label?: string;
    onChange: (args: { file: File; value: string }) => void;
  }

  let { onChange, accept = '', label = '' }: Props = $props();

  let input: undefined | HTMLInputElement = $state();

  function chooseFile() {
    input?.click();
  }

  function handleChange(e: { currentTarget: HTMLInputElement }) {
    if (!e.currentTarget.files?.[0]) {
      return;
    }
    onChange({
      file: e.currentTarget.files[0],
      value: e.currentTarget.value
    });
  }
</script>

<div>
  <button
    class="btn btn-outline-primary d-flex"
    onclick={chooseFile}
    type="button"
  >
    {#if label}
      <span class="mr-1">{label}</span>
    {/if}
    <span class="icon">
      <Icon name="attach" />
    </span>
  </button>
  <input
    bind:this={input}
    {accept}
    onchange={handleChange}
    type="file"
  />
</div>

<style>
  input {
    display: none;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .icon :global(span) {
    margin-top: 2px;
  }
</style>
