<script lang="ts">
  import type { Snippet } from 'svelte';

  interface Props {
    children?: Snippet;
    onClick: () => void;
  }

  let { children, onClick }: Props = $props();
</script>

<button
  class="btn btn-light"
  onclick={onClick}
  type="button"
>
  {@render children?.()}
</button>
