<script lang="ts">
  import TextField from '$lib/ui/atoms/fields/text/TextField.svelte';
  import { getPreviewImage } from '$lib/ui/molecules/youtube-preview/utils';

  import type { ComponentProps } from 'svelte';

  type Props = ComponentProps<typeof TextField>;

  let { label = '', value = $bindable(), ...rest }: Props = $props();

  function getLabelPreview(link?: Props['value']) {
    const img = getPreviewImage(link);
    if (!img) {
      return '';
    }

    // TODO use slot for this
    return `<img class="float-right" src="${img}" alt="preview" height="24" />`;
  }

  const previewImage = $derived(getLabelPreview(value));
</script>

<TextField
  {...rest}
  label={label + previewImage}
  type="url"
  bind:value
/>
