<script lang="ts">
  import { _ } from 'svelte-i18n';
  import SvelteInfiniteScroll from 'svelte-infinite-scroll';

  interface Props {
    isLoading?: boolean;
    hasMore?: boolean;
    hideSlot?: boolean;
    threshold?: number;
    onLoadMore: () => void;
    children?: import('svelte').Snippet;
  }

  let {
    isLoading = false,
    hasMore = false,
    hideSlot = false,
    threshold = 100,
    children,
    onLoadMore
  }: Props = $props();
</script>

<div class="d-flex flex-column align-items-center">
  {#if !(hideSlot && isLoading)}
    {@render children?.()}
  {/if}
  <div class="mt-4 mb-5">
    {#if isLoading}
      <div
        class="spinner-grow text-primary"
        role="status"
      >
        <span class="sr-only">{$_('common.loading')}</span>
      </div>
    {:else}
      <SvelteInfiniteScroll
        {hasMore}
        {threshold}
        window
        on:loadMore={onLoadMore}
      />
    {/if}
  </div>
</div>
