<script lang="ts">
  import Loading from './Loading.svelte';

  import type { ComponentProps } from 'svelte';
  type Props = ComponentProps<typeof Loading>;

  let props: Props = $props();
</script>

<Loading {...props}>
  <h1>this is my content</h1>
</Loading>
