<script lang="ts">
  import Icon from '$lib/ui/atoms/icon/Icon.svelte';

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Slots {
    default: unknown;
  }

  interface Props {
    id?: string;
    class?: string;
    children?: import('svelte').Snippet;
  }

  let { id = undefined, class: className = '', children }: Props = $props();
</script>

<div
  class={`d-flex flex-column align-items-center justify-content-center ${className}`}
>
  <h1
    {id}
    class="h2 text-primary"
  >
    {@render children?.()}
  </h1>
  <span class="divider mx-auto">
    <span class="bg-info"></span>
    <span class="d-flex text-info mx-2">
      <Icon
        name="musicalNote"
        noHover
      />
      <Icon
        name="musicalNotes"
        noHover
      />
    </span>
    <span class="bg-info"></span>
  </span>
</div>

<style>
  h1 {
    position: relative;
    margin-bottom: 2px;
  }

  .divider {
    opacity: 0.6;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
  }

  .divider > span.bg-info {
    width: 40%;
    height: 2px;
    border-radius: 5px;
  }
</style>
