<script lang="ts">
  import { _ } from 'svelte-i18n';

  import { page } from '$app/state';
  import { base } from '$app/paths';
  import { goto } from '$app/navigation';

  import { haveError } from '$lib/controllers/playlist/haveError';
  import PlaylistPage from '$lib/ui/pages/playlist/Playlist.svelte';
  import post from '$lib/utils/post';
  import { loadArtists, loadAuthors } from '$lib/views/song/autocompletes';
  import { searchSongs } from '$lib/views/song/list/searchSongs';
  import Headers from '$lib/views/utils/headers/Headers.svelte';
  import type { Playlist, PlaylistType, Song } from '$lib/types';
  import type { ComponentEventArgs, Option } from '$lib/ui/types';

  import { URL_EDIT, API_URL_EDIT, URL_GENERATE } from '../constants';


  interface Props {
    playlist?: Playlist | undefined;
    playlistType: PlaylistType;
    urlEdit: string;
    urlIndex: string;
    categories: Option[];
  }

  let {
    playlist = $bindable(undefined),
    playlistType,
    urlEdit,
    urlIndex,
    categories
  }: Props = $props();

  let saving = $state(false);
  let editing = $state(!playlist?.id);

  let errors: Record<string, string> | undefined = $state(undefined);

  function onSubmit(
    detail: ComponentEventArgs<typeof PlaylistPage, 'onSubmit'>
  ) {
    playlist = {
      ...detail,
      id: playlist?.id ?? 0,
      type: playlistType
      // dirty but this is working ;)
    } as Playlist;

    const result = haveError(playlist);
    if (result) {
      errors = result;
      return;
    }

    saving = true;
    post<Playlist, Playlist>(
      API_URL_EDIT.replace('#ID#', `${playlist.id}`),
      playlist
    )
      .then((res) => {
        saving = false;
        if (!playlist?.id) {
          goto(base + URL_EDIT.replace('#ID#', `${res.id}`), {
            replaceState: true
          });
          return;
        }

        playlist = res;
        errors = undefined;
        editing = false;
      })
      .catch((e) => {
        saving = false;
        errors = e;
      });
  }

  function goToList() {
    goto(base + urlIndex);
  }

  async function loadSongs(search: string): Promise<Option<Song>[]> {
    return searchSongs({ search, limit: 10 }).then(({ items }) =>
      items.map((s: Song) => ({ label: `${s.title} - ${s.artist}`, value: s }))
    );
  }

  let htmlTitle = $derived(
    playlist
      ? `${playlist.name} - ${$_(`${playlistType}.header`)}`
      : $_(`${playlistType}.noTitle`)
  );
  let logged = $derived(!!page.data.session?.id);
  let urlGenerate = $derived(URL_GENERATE.replace('#ID#', `${playlist?.id}`));
</script>

<Headers
  description={$_('headers.playlist')}
  image={playlist?.image?.src}
  path={urlEdit.replace('#ID#', `${playlist?.id}`)}
  title={htmlTitle}
/>

<PlaylistPage
  canEdit={logged}
  {categories}
  {errors}
  {loadArtists}
  {loadAuthors}
  {loadSongs}
  {playlist}
  {saving}
  type={playlistType}
  {urlGenerate}
  bind:editing
  {onSubmit}
  onCancel={goToList}
/>
