<script lang="ts">

  import { page } from '$app/state';

  import SongForm from '$lib/ui/organisms/form/song/SongForm.svelte';
  import Song from '$lib/ui/organisms/song/Song.svelte';
  import type { Song as SongType, SongFile } from '$lib/types';
  import type { Option, FnAutoComplete } from '$lib/ui/types';

  import { uploadFile } from './utils';

  import type { ComponentProps } from 'svelte';


  interface Props extends Pick<ComponentProps<typeof SongForm>, 'onSubmit'> {
    song?: SongType;
    edit?: boolean;
    defaultAuthor?: string;
    // action
    categories: Option[];
    loadArtists: FnAutoComplete;
    loadAuthors: FnAutoComplete;
    saving?: boolean;
    errors?: Record<string, string> | undefined;
    files?: SongFile[];
    onCancel: () => void;
  }

  let {
    song = {
      href: '',
      title: '',
      artist: '',
      category: '',
      files: []
    },
    edit = false,
    defaultAuthor = page.data.session?.name ?? '',
    categories,
    loadArtists,
    loadAuthors,
    saving = false,
    errors,
    files = song.files ?? [],
    onSubmit,
    onCancel
  }: Props = $props();
</script>

<div data-cy="page-song">
  {#if edit}
    <SongForm
      {categories}
      {errors}
      {files}
      isSaving={saving}
      {...song}
      author={song ? song.author : defaultAuthor}
      {loadArtists}
      {loadAuthors}
      {uploadFile}
      {onSubmit}
      {onCancel}
    />
  {:else}
    <Song
      {...song}
      {onCancel}
    />
  {/if}
</div>
