<script lang="ts">
  import BaseField from '$lib/ui/atoms/fields/base/BaseField.svelte';

  import type { Snippet } from 'svelte';
  import type {
    ChangeEventHandler,
    FocusEventHandler,
    FormEventHandler,
    KeyboardEventHandler,
    HTMLInputAttributes
  } from 'svelte/elements';

  interface Props extends HTMLInputAttributes {
    name?: string;
    label?: string | undefined;
    value: string | number;
    type?: string;
    placeholder?: string;
    error?: string | undefined;
    small?: boolean;
    right?: boolean;
    class?: string;
    children?: Snippet;

    onChange?: ChangeEventHandler<HTMLInputElement> | null | undefined;
    onFocus?: FocusEventHandler<HTMLInputElement> | null | undefined;
    onKeydown?: KeyboardEventHandler<HTMLInputElement> | null | undefined;
    onBlur?: ChangeEventHandler<HTMLInputElement> | null | undefined;
  }

  let {
    label = undefined,
    value = $bindable(),
    type = 'text',
    placeholder = '',
    error = $bindable(undefined),
    small = false,
    right = false,
    children,
    class: classProps,
    onBlur,
    onFocus,
    onChange,
    onKeydown,
    ...rest
  }: Props = $props();

  const handleInput: FormEventHandler<HTMLInputElement> = function (e) {
    value = type.match(/^(number|range)$/)
      ? +e.currentTarget.value
      : e.currentTarget.value;

    if (type === 'number') {
      error = !/^[0-9]*$/.test(`${value}`) ? 'invalid number' : '';
    }
  };
</script>

<BaseField
  class={classProps}
  {error}
  {label}
>
  <div>
    <input
      class:form-control-sm={small}
      class:is-invalid={error}
      class:text-right={right}
      {placeholder}
      {type}
      {value}
      {...rest}
      class="form-control"
      onblur={onBlur}
      onchange={onChange}
      onfocus={onFocus}
      oninput={handleInput}
      onkeydown={onKeydown}
    />
    {@render children?.()}
  </div>
</BaseField>

<style>
  input {
    flex-grow: 1;
    width: 100%;
  }

  input[type='number'] {
    appearance: textfield;
    text-align: center;
    width: 60px;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  div {
    position: relative;
  }
</style>
