<script lang="ts">
  import { _ } from 'svelte-i18n';

  interface Props {
    title?: any;
    path?: string;
    description?: any;
    keywords?: any;
    image?: string | undefined;
  }

  let {
    title = $_('site.title') + '. ' + $_('site.subtitle'),
    path = '',
    description = $_('site.description'),
    keywords = $_('site.keywords'),
    image = undefined
  }: Props = $props();

  const website = 'https://www.rendevuke.com';
</script>

<svelte:head>
  <title>{title}</title>
  <meta
    name="description"
    content={description}
  />
  <meta
    name="keywords"
    content={keywords}
  />
  <meta
    content="website"
    property="og:type"
  />
  <meta
    content="description"
    property="og:description"
  />
  <meta
    content="{website}{path}"
    property="og:url"
  />
  <meta
    content={title}
    property="og:title"
  />
  <meta
    content="Rendev'Uke"
    property="og:site_name"
  />
  <meta
    content={`${website}${image ?? '/logo-270.png'}`}
    property="og:image"
  />
</svelte:head>
